@page "/empresas/{Id:guid}/editar"

@attribute [Authorize]

@using GestionERP.Web.Models.Dtos.Principal 

<PageTitle>Empresa - Editar</PageTitle>

<NavigationLock OnBeforeInternalNavigation="@(Cerrar)" ConfirmExternalNavigation="@(IsAuthUser && IsModified)"/>

<TooltipButtonComponent/>

@if (IsInitPage)
{
    <CardContainerComponent Titulo="Editando empresa" CodigoRegistro="@(EmpresaObtener.Codigo)" CodigoServicio="@(codigoServicio)">
        <TelerikNotification @ref="@Alert" Class="k-alert-notification" VerticalPosition="@(NotificationVerticalPosition.Top)" HorizontalPosition="@(NotificationHorizontalPosition.Center)" />
        <CardBody>
            <TelerikForm EditContext="@(EditContext)" Size="sm">
                <FormValidation>
                    <FluentValidationValidator @ref="validator"/>
                </FormValidation> 
                <FormItems>
                     <FormItem Field="Activo">
                         <Template>
                             <label>Activo:</label>
                             <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(EmpresaEditar.Activo)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                         </Template>
                     </FormItem>
                     <FormItem Field="Nombre">
                         <Template>
                             <label>Nombre o razón social*:</label>
                             <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.Nombre)" Size="sm" />
                             <TelerikValidationMessage For="@(() => EmpresaEditar.Nombre)" />
                         </Template>
                     </FormItem>
                     <FormItem Field="CodigoTipoIdentificacion">
                         <Template>
                             <label>Tipo de identificación:</label>
                             <div class="item-group">
                                 <TelerikTextBox AutoComplete="off" Title="Código" Placeholder="Código" Enabled="@(false)" @bind-Value="@(EmpresaObtener.CodigoTipoIdentificacion)" Size="sm" Width="50px" />
                                 <TelerikTextBox @bind-Value="@(EmpresaObtener.NombreTipoIdentificacion)" Width="200px" Title="@(EmpresaObtener.NombreTipoIdentificacion)" Placeholder="Nombre o Descripción" Enabled="@(false)" Size="sm" />
                             </div>
                         </Template>
                     </FormItem>
                     <FormItem Field="NumeroTipoIdentificacion">
                         <Template>
                             <label>Número del tipo de identificación:</label>
                             <div class="item-group">
                                 <TelerikTextBox AutoComplete="off" Title="Sigla del tipo de identificación" Placeholder="Sigla" Enabled="@(false)" @bind-Value="@(EmpresaObtener.SiglaTipoIdentificacion)" Size="sm" Width="50px" />
                                 <TelerikTextBox Width="150px" AutoComplete="off" @bind-Value="@(EmpresaObtener.NumeroTipoIdentificacion)" Enabled="@(false)" Size="sm" />
                             </div>
                         </Template>
                     </FormItem>
                    <FormItem>
                        <Template>
                            <label>Código web:</label>
                            <TelerikTextBox @bind-Value="@(EmpresaObtener.CodigoWeb)" Size="sm" Enabled="@false" />
                        </Template>
                    </FormItem>
                     <FormItem Field="Acronimo">
                         <Template>
                             <label>Acrónimo:</label>
                             <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.Acronimo)" Size="sm" />
                             <TelerikValidationMessage For="@(() => EmpresaEditar.Acronimo)" />
                         </Template>
                     </FormItem>
                     <FormItem Field="Descripcion">
                         <Template>
                             <label>Descripción:</label>
                             <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.Descripcion)" Size="sm" />
                             <TelerikValidationMessage For="@(() => EmpresaEditar.Descripcion)" />
                         </Template>
                     </FormItem>
                     <FormItem Field="FechaInicioSistema">
                         <Template>
                             <label>Fecha de inicio en el sistema:</label>
                             <TelerikDateInput Width="150px" Size="sm" Enabled="@(false)" @bind-Value="@(EmpresaObtener.FechaInicioSistema)" />
                         </Template>
                     </FormItem>

                     <FormGroup Class="formgroup intab" Columns="3" ColumnSpacing="10px">
                         <FormItem>
                             <Template>
                                 <label>Tipo de rubro:</label>
                                 <TelerikDropDownList @bind-Value="@EmpresaObtener.Atributo.FlagTipoRubro" Enabled="@(false)" TextField="Nombre" ValueField="Codigo" Data="@TiposRubro" Size="sm" />
                             </Template>
                         </FormItem>
                         <FormItem>
                             <Template>
                                 <label>Es transportista:</label>
                                 <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(EmpresaEditar.AtributoEditar.EsTransportista)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                             </Template>
                         </FormItem>
                         <FormItem>
                             <Template>
                                 <label>Es agente retenedor:</label>
                                 <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(EmpresaEditar.AtributoEditar.EsAgenteRetenedor)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                             </Template>
                         </FormItem>

                         <FormItem ColSpan="3">
                             <Template>
                                 <label>Dirección fiscal*:</label>
                                 <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.AtributoEditar.DireccionFiscal)" Size="sm" />
                                 <TelerikValidationMessage For="@(() => EmpresaEditar.AtributoEditar.DireccionFiscal)" />
                             </Template>
                         </FormItem>
                         <FormItem ColSpan="3">
                             <Template>
                                 <label>Dirección de depósito:</label>
                                 <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.AtributoEditar.DireccionDeposito)" Size="sm" />
                                 <TelerikValidationMessage For="@(() => EmpresaEditar.AtributoEditar.DireccionDeposito)" />
                             </Template>
                         </FormItem>

                         <FormItem>
                             <Template>
                                 <label>Teléfono corporativo:</label>
                                 <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.AtributoEditar.TelefonoCorporativo)" Size="sm" />
                                 <TelerikValidationMessage For="@(() => EmpresaEditar.AtributoEditar.TelefonoCorporativo)" />
                             </Template>
                         </FormItem>
                         <FormItem>
                             <Template>
                                 <label>Teléfono ventas:</label>
                                 <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.AtributoEditar.TelefonoVenta)" Size="sm" />
                                 <TelerikValidationMessage For="@(() => EmpresaEditar.AtributoEditar.TelefonoVenta)" />
                             </Template>
                         </FormItem>
                         <FormItem>
                             <Template>
                                 <label>Correo electrónico corporativo:</label>
                                 <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.AtributoEditar.EmailCorporativo)" Size="sm" />
                                 <TelerikValidationMessage For="@(() => EmpresaEditar.AtributoEditar.EmailCorporativo)" />
                             </Template>
                         </FormItem>
                         <FormItem>
                             <Template>
                                 <label>Correo electrónico ventas:</label>
                                 <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.AtributoEditar.EmailVenta)" Size="sm" />
                                 <TelerikValidationMessage For="@(() => EmpresaEditar.AtributoEditar.EmailVenta)" />
                             </Template>
                         </FormItem>
                         <FormItem>
                             <Template>
                                 <label>Correo electrónico compras:</label>
                                 <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.AtributoEditar.EmailCompra)" Size="sm" />
                                 <TelerikValidationMessage For="@(() => EmpresaEditar.AtributoEditar.EmailCompra)" />
                             </Template>
                         </FormItem>
                         <FormItem>
                             <Template>
                                 <label>Correo electrónico cobranza:</label>
                                 <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.AtributoEditar.EmailCobranza)" Size="sm" />
                                 <TelerikValidationMessage For="@(() => EmpresaEditar.AtributoEditar.EmailCobranza)" />
                             </Template>
                         </FormItem>

                         <FormItem>
                             <Template>
                                 <label>Página web:</label>
                                 <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.AtributoEditar.PaginaWeb)" Size="sm" />
                                 <TelerikValidationMessage For="@(() => EmpresaEditar.AtributoEditar.PaginaWeb)" />
                             </Template>
                         </FormItem>
                         <FormItem>
                             <Template>
                                 <label>En facturación portal:</label>
                                 <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(EmpresaEditar.AtributoEditar.EnFacturacionSunatPortal)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                             </Template>
                         </FormItem>
                         <FormItem>
                             <Template>
                                 <label>En facturación externa OSE:</label>
                                 <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(EmpresaEditar.AtributoEditar.EnFacturacionExternoOse)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                             </Template>
                         </FormItem>

                        <FormItem ColSpan="3">
                            <Template>
                                <label>Cuenta contable de impuesto extorno (por defecto para transferencias gratuitas):</label>
                                <div class="item-group">
                                    <TelerikTextBox AutoComplete="off" Placeholder="Código" Enabled="@(false)" @bind-Value="@(EmpresaEditar.AtributoEditar.CodigoCuentaContableImpuestoExtorno)" Size="sm" Width="100px" />
                                    <Principal.CuentaContableCatalogoComponent CargarItemSeleccionado="@(CargarItemCatalogoCuentaContableImpuestoExtorno)" />
                                    <TelerikTextBox @bind-Value="@(EmpresaObtener.Atributo.NombreCuentaContableImpuestoExtorno)" Title="@(EmpresaObtener.Atributo.NombreCuentaContableImpuestoExtorno)" Placeholder="Nombre o Descripción" Enabled="@(false)" Size="sm" />
                                </div>
                            </Template>
                        </FormItem>

                        <FormItem ColSpan="3">
                            <Template>
                                <label>Cuenta contable de orden deudor (por defecto para cierre/apertura anual contable) *:</label>
                                <div class="item-group">
                                    <TelerikTextBox AutoComplete="off" Title="Código" Placeholder="Código" Enabled="@(false)" @bind-Value="@(EmpresaEditar.AtributoEditar.CodigoCuentaContableOrdenDeudor)" Size="sm" Width="100px" />
                                    <Principal.CuentaContableCatalogoComponent CargarItemSeleccionado="@(CargarItemCatalogoCuentaContableOrdenDeudor)" />
                                    <TelerikTextBox @bind-Value="@(EmpresaObtener.Atributo.NombreCuentaContableOrdenDeudor)" Title="@(EmpresaObtener.Atributo.NombreCuentaContableOrdenDeudor)" Placeholder="Nombre o Descripción" Enabled="@(false)" Size="sm" />
                                </div>
                                <TelerikValidationMessage For="@(() => EmpresaEditar.AtributoEditar.CodigoCuentaContableOrdenDeudor)" />
                            </Template>
                        </FormItem>

                        <FormItem ColSpan="3">
                            <Template>
                                <label>Cuenta contable de orden acreedor (por defecto para cierre/apertura anual contable) *:</label>
                                <div class="item-group">
                                    <TelerikTextBox AutoComplete="off" Title="Código" Placeholder="Código" Enabled="@(false)" @bind-Value="@(EmpresaEditar.AtributoEditar.CodigoCuentaContableOrdenAcreedor)" Size="sm" Width="100px" />
                                    <Principal.CuentaContableCatalogoComponent CargarItemSeleccionado="@(CargarItemCatalogoCuentaContableOrdenAcreedor)" />
                                    <TelerikTextBox @bind-Value="@(EmpresaObtener.Atributo.NombreCuentaContableOrdenAcreedor)" Title="@(EmpresaObtener.Atributo.NombreCuentaContableOrdenAcreedor)" Placeholder="Nombre o Descripción" Enabled="@(false)" Size="sm" />
                                </div>
                                <TelerikValidationMessage For="@(() => EmpresaEditar.AtributoEditar.CodigoCuentaContableOrdenAcreedor)" />
                            </Template>
                        </FormItem>

                        <FormItem>
                            <Template>
                                <label>Porcentaje de indicador para ventas:</label>
                                <TelerikNumericTextBox AutoComplete="off" Arrows="@(false)" @bind-Value="@(EmpresaEditar.AtributoEditar.PorcentajeIndicadorVenta)" Min="0" Format="P" Decimals="4" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.AtributoEditar.PorcentajeIndicadorVenta)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Días de plazo a facturas de venta vencida:</label>
                                <TelerikNumericTextBox AutoComplete="off" Arrows="@(false)" @bind-Value="@(EmpresaEditar.AtributoEditar.CantidadDiasPlazoFacturaVencida)" Min="0" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.AtributoEditar.CantidadDiasPlazoFacturaVencida)" />
                            </Template>
                        </FormItem>

                        <FormItem ColSpan="2">
                            <Template>
                                <label>N° de cuenta corriente detracción:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.AtributoEditar.CuentaCorrienteDetraccion)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.AtributoEditar.CuentaCorrienteDetraccion)" />
                            </Template>
                        </FormItem>
                        <FormItem ColSpan="1">
                            <Template>
                                <label>Es emisor de certificado de análisis:</label>
                                <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(EmpresaEditar.AtributoEditar.EsEmisorCertificadoAnalisis)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                            </Template>
                        </FormItem>
                    </FormGroup>

                     <FormGroup Class="formgroup intab" Columns="3" ColumnSpacing="10px">
                        <FormItem>
                            <Template>
                                <label>Ubicación del certificado digital (número):</label>
                                <TelerikNumericTextBox AutoComplete="off" Arrows="@(false)" @bind-Value="@(EmpresaEditar.FacturacionEditar.UbicacionCertificado)" Min="0" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.UbicacionCertificado)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Número de la serie del certificado digital:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.FacturacionEditar.NumeroSerieCertificado)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.NumeroSerieCertificado)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Usuario SOL:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.FacturacionEditar.UsuarioSOL)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.UsuarioSOL)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Clave SOL:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.FacturacionEditar.ClaveSOL)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.ClaveSOL)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Usuario OSE:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.FacturacionEditar.UsuarioOSE)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.UsuarioOSE)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Clave OSE:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.FacturacionEditar.ClaveOSE)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.ClaveOSE)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Número de resolución:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.FacturacionEditar.NumeroResolucion)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.NumeroResolucion)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Envía correo:</label>
                                <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(EmpresaEditar.FacturacionEditar.EnviaCorreo)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Dirección de IP SMTP (correo):</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.FacturacionEditar.HostSMTP)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.HostSMTP)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Número de puerto SMTP (correo):</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.FacturacionEditar.PuertoSMTP)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.PuertoSMTP)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Correo electrónico del usuario SMTP:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.FacturacionEditar.EmailUsuarioSMTP)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.EmailUsuarioSMTP)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Contraseña del usuario SMTP:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.FacturacionEditar.PasswordSMTP)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.PasswordSMTP)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Certificado SSL:</label>
                                <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(EmpresaEditar.FacturacionEditar.CertificadoSSL)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Página web de consultas CDR:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.FacturacionEditar.PaginaWebConsultaCDR)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.PaginaWebConsultaCDR)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Página web de descargas XML:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.FacturacionEditar.PaginaWebDescargaXML)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.PaginaWebDescargaXML)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Color principal del PDF:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.FacturacionEditar.ColorPrincipalPDF)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.ColorPrincipalPDF)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Color secundario del PDF:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.FacturacionEditar.ColorSecundarioPDF)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.ColorSecundarioPDF)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Color alterno del PDF:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.FacturacionEditar.ColorAlternoPDF)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.ColorAlternoPDF)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Ruta ubicación logo del PDF:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.FacturacionEditar.RutaUbicacionLogoPDF)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.RutaUbicacionLogoPDF)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Ruta ubicación XML de boletas:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.FacturacionEditar.RutaBoletaXML)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.RutaBoletaXML)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Ruta ubicación XML de facturas:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.FacturacionEditar.RutaFacturaXML)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.RutaFacturaXML)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Ruta ubicación XML de notas de crédito:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.FacturacionEditar.RutaNotaCreditoXML)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.RutaNotaCreditoXML)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Ruta ubicación XML de notas de débito:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.FacturacionEditar.RutaNotaDebitoXML)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.RutaNotaDebitoXML)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Ruta ubicación XML de resúmenes diarios:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.FacturacionEditar.RutaResumenDiarioXML)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.RutaResumenDiarioXML)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Ruta ubicación XML de comunicaciones de baja:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.FacturacionEditar.RutaComunicacionBajaXML)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.RutaComunicacionBajaXML)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Ruta ubicación XML de retenciones:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.FacturacionEditar.RutaRetencionXML)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.RutaRetencionXML)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Ruta ubicación XML de resúmenes de reversión:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.FacturacionEditar.RutaResumenReversionXML)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.RutaResumenReversionXML)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Ruta ubicación XML de tickets:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.FacturacionEditar.RutaTicketXML)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.RutaTicketXML)" />
                            </Template>
                        </FormItem>
                        <FormItem>
                            <Template>
                                <label>Ruta ubicación XML de guías de remisión:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EmpresaEditar.FacturacionEditar.RutaGuiaRemisionXML)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EmpresaEditar.FacturacionEditar.RutaGuiaRemisionXML)" />
                            </Template>
                        </FormItem>

                    </FormGroup>
                </FormItems>
                <FormItemsTemplate Context="formContext">
                    @{
                        List<IFormItemBase> formObjects = formContext.Items;
                        List<IFormItem> items = [];//formContext.Items.Cast<IFormItem>().ToList();
                        List<IFormGroup> groups = []; //formContext.Items.Cast<IFormGroup>().ToList();
                        foreach (IFormItemBase itemBase in formObjects)
                        {
                            if (itemBase is IFormGroup)
                                groups.Add((IFormGroup) itemBase);
                            else
                                items.Add((IFormItem) itemBase);
                        }
                    }
                    <TelerikTabStrip Height="535px" PersistTabContent="@(true)">
                        <TabStripTab Title="Datos Principales">
                            <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "Activo"))" />
                            <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "Nombre"))" />
                            <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "CodigoTipoIdentificacion"))" />
                            <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "NumeroTipoIdentificacion"))" />
                            <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "Acronimo"))" />
                            <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "Descripcion"))" />
                            <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "FechaInicioSistema"))" />
                        </TabStripTab>

                        <TabStripTab Title="Atributos">
                            <TelerikFormGroupRenderer Group="@(groups[0])">
                                <Template Context="groupContext">
                                    @foreach (IFormItem itemGroup in groupContext.Items)
                                    {
                                        <TelerikFormItemRenderer Item="@itemGroup" />
                                    }
                                </Template>
                            </TelerikFormGroupRenderer>
                        </TabStripTab>

                        <TabStripTab Title="Facturación electrónica">
                            <TelerikFormGroupRenderer Group="@(groups[1])">
                                <Template Context="groupContext">
                                    @foreach (IFormItem itemGroup in groupContext.Items)
                                    {
                                        <TelerikFormItemRenderer Item="@itemGroup" />
                                    }
                                </Template>
                            </TelerikFormGroupRenderer>
                        </TabStripTab>
                    </TelerikTabStrip>
                </FormItemsTemplate>

                <FormButtons/>
            </TelerikForm>

            <TelerikToolBar Class="toolbar-mainform">
                <ToolBarTemplateItem>
                    <TelerikButton Icon="@(SvgIcon.Save)" Id="tbtn" Title="Guardar cambios del registro" ButtonType="@ButtonType.Button" OnClick="@(Editar)" Size="sm" ThemeColor="primary" Enabled="@(!IsLoadingAction)">Actualizar</TelerikButton>
                </ToolBarTemplateItem>
                <ToolBarSeparator />
                <ToolBarTemplateItem>
                    <TelerikButton Icon="@(SvgIcon.Undo)" Id="tbtn" Title="Volver a la vista anterior" ButtonType="@ButtonType.Button" Size="sm" Class="b-primary" OnClick="@(Volver)" Enabled="@(!IsLoadingAction)" Visible="@(EsVisibleVolver)">Volver</TelerikButton>
                </ToolBarTemplateItem>
                <ToolBarSpacer />
                <ToolBarTemplateItem>
                    <span>* Campos obligatorios</span>
                </ToolBarTemplateItem>
            </TelerikToolBar>
         
        </CardBody>
    </CardContainerComponent>  
}