@page "/regimenes-importacion/{Id:guid}"

@attribute [Authorize] 
<PageTitle>Regimen de Importación - Ver</PageTitle>

<TooltipButtonComponent/>

@if (RegimenImportacionObtener is not null)
{
    <CardContainerComponent Titulo="Visualizando régimen de importación" CodigoRegistro="@(RegimenImportacionObtener.Codigo)" CodigoServicio="@(codigoServicio)">
        <CardBody>
            <TelerikForm Model="@RegimenImportacionObtener" Size="sm">
                <FormItems>
                    <FormItem>
                        <Template>
                            <label>Activo:</label>
                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@RegimenImportacionObtener.Activo" Enabled="@false" Size="sm" TrackRounded="md" ThumbRounded="md" />
                        </Template>
                    </FormItem>
                    <FormItem>
                        <Template>
                            <label>Nombre:</label>
                            <TelerikTextBox @bind-Value="@(RegimenImportacionObtener.Nombre)" Size="sm" Enabled="@false" />
                        </Template>
                    </FormItem>
                </FormItems>
                <FormButtons/>
            </TelerikForm>

            <TelerikToolBar Class="toolbar-mainform">
                <ToolBarTemplateItem>
                    <TelerikButton Icon="@(SvgIcon.Undo)" Id="tbtn" Title="Volver a la vista del listado" ButtonType="@ButtonType.Button" Size="sm" ThemeColor="primary" OnClick="@(Volver)">Volver</TelerikButton>
                </ToolBarTemplateItem>
            </TelerikToolBar>

        </CardBody>
    </CardContainerComponent>
}