@page "/origenes-transaccion/{Id:guid}"

@attribute [Authorize]
 
<PageTitle>Origen de transaccion - Ver</PageTitle>

<TooltipButtonComponent/>

@if (OrigenTransaccionObtener is not null)
{
    <CardContainerComponent Titulo="Visualizando origen de transaccion" CodigoRegistro="@(OrigenTransaccionObtener.Codigo)" CodigoServicio="@(codigoServicio)">
        <CardBody>
            <TelerikForm Model="@OrigenTransaccionObtener" Size="sm">
                <FormItems>
                    <FormItem>
                        <Template>
                            <label>Activo:</label>
                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@OrigenTransaccionObtener.Activo" Enabled="@false" Size="sm" TrackRounded="md" ThumbRounded="md" />
                        </Template>
                    </FormItem>
                    <FormItem>
                        <Template>
                            <label>Nombre:</label>
                            <TelerikTextBox @bind-Value="@(OrigenTransaccionObtener.Nombre)" Size="sm" Enabled="@false" />
                        </Template>
                    </FormItem>
                    <FormItem>
                        <Template>
                            <label>Descripción:</label>
                            <TelerikTextBox @bind-Value="@(OrigenTransaccionObtener.Descripcion)" Size="sm" Enabled="@false" />
                        </Template>
                    </FormItem>
                </FormItems>
                <FormButtons/>
            </TelerikForm>

            <TelerikToolBar Class="toolbar-mainform">
                <ToolBarTemplateItem>
                    <TelerikButton Icon="@(SvgIcon.Undo)" Id="tbtn" Title="Volver a la vista del listado" ButtonType="@ButtonType.Button" Size="sm" ThemeColor="primary" OnClick="@(Volver)">Volver</TelerikButton>
                </ToolBarTemplateItem>
            </TelerikToolBar>

        </CardBody>
    </CardContainerComponent>
}