@page "/tipos-detraccion/{Id:guid}"

@attribute [Authorize] 

<PageTitle>Tipo detracción - Ver</PageTitle>

<TooltipButtonComponent/>

@if (TipoDetraccionObtener is not null)
{
    <CardContainerComponent Titulo="Visualizando tipo de detracción" CodigoRegistro="@(TipoDetraccionObtener.Codigo)" CodigoServicio="@(codigoServicio)">
        <CardBody> 
            <TelerikForm Model="@TipoDetraccionObtener" Size="sm"> 
                <FormItems>
                    <FormItem>
                        <Template>
                            <label>Activo:</label>
                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@TipoDetraccionObtener.Activo" Enabled="@false" Size="sm" TrackRounded="md" ThumbRounded="md"/>
                        </Template>
                    </FormItem>
                    <FormItem>
                        <Template>
                            <label>Nombre:</label> 
                            <TelerikTextBox @bind-Value="@(TipoDetraccionObtener.Nombre)" Size="sm" Enabled="@false"/> 
                        </Template>
                    </FormItem>
                    <FormItem>
                        <Template>
                            <label>Porcentaje:</label>
                            <TelerikNumericTextBox AutoComplete="off" Arrows="@(false)" @bind-Value="@(TipoDetraccionObtener.Porcentaje)" Min="0" Format="P" Decimals="2" Enabled="@false" Size="sm" /> 
                        </Template>
                    </FormItem>
                    <FormItem>
                        <Template>
                            <label>Monto mínimo MN (Moneda Nacional) @MN.Simbolo :</label>
                            <TelerikNumericTextBox AutoComplete="off" Arrows="@(false)" @bind-Value="@(TipoDetraccionObtener.MontoMinimoMN)" Min="1" Format="N2" Decimals="2" Enabled="@false" Size="sm" /> 
                        </Template>
                    </FormItem>
                    <FormItem>
                        <Template>
                            <label>Es afecto a valor referencial:</label>
                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@TipoDetraccionObtener.EsAfectoValorReferencial" Enabled="@false" Size="sm" TrackRounded="md" ThumbRounded="md"/>
                        </Template>
                    </FormItem>
                </FormItems>
                <FormButtons/>
            </TelerikForm>

            <TelerikToolBar Class="toolbar-mainform">
                <ToolBarTemplateItem>
                    <TelerikButton Icon="@(SvgIcon.Undo)" Id="tbtn" Title="Volver a la vista del listado" ButtonType="@ButtonType.Button" Size="sm" ThemeColor="primary" OnClick="@(Volver)">Volver</TelerikButton>
                </ToolBarTemplateItem>
            </TelerikToolBar>

        </CardBody>
    </CardContainerComponent>
}