@page "/servicios/insertar"

@attribute [Authorize]

<PageTitle>Servicio - Insertar</PageTitle>

<NavigationLock OnBeforeInternalNavigation="@(Cerrar)" ConfirmExternalNavigation="@(IsAuthUser && IsModified)"/>

<TooltipButtonComponent/>

<CardContainerComponent Titulo="Insertando servicio" CodigoServicio="@(codigoServicio)">
    <TelerikNotification @ref="@Alert" Class="k-alert-notification" VerticalPosition="@(NotificationVerticalPosition.Top)" HorizontalPosition="@(NotificationHorizontalPosition.Center)" />
    <CardBody>
        <TelerikForm EditContext="@EditContext" Size="sm">
            <FormValidation>
                <FluentValidationValidator @ref="validator"/>  
            </FormValidation> 
            <FormItems>
                 <FormItem>
                     <Template>
                         <label>Módulo*:</label>
                         <div class="item-group">
                             <TelerikTextBox AutoComplete="off" Placeholder="Código" Enabled="@(false)" @bind-Value="@(ServicioInsertar.CodigoModulo)" Size="sm" Width="100px" />
                             <Principal.ModuloCatalogoComponent CargarItemSeleccionado="@(CargarItemCatalogoModulo)" />
                             <TelerikTextBox @bind-Value="@(ServicioObtener.NombreModulo)" Title="@(ServicioObtener.NombreModulo)" Placeholder="Nombre o Descripción" Enabled="@(false)" Size="sm" />
                         </div>
                         <TelerikValidationMessage For="@(() => ServicioInsertar.CodigoModulo)" />
                     </Template>
                 </FormItem>
                <FormItem>
                    <Template>
                        <label>Código*:</label>
                        <div class="item-group">
                            <TelerikButton Icon="@(SvgIcon.InfoCircle)" Id="tbtn" Title="Para poder ingresar el Código deberá primero seleccionar una Modulo" Size="sm" FillMode="flat" Rounded="full" ButtonType="@ButtonType.Button" ThemeColor="info" Visible="@(!EnabledCodigo)" />
                             <TelerikMaskedTextBox @bind-Value="@(ServicioInsertar.Codigo)" Mask="@(MaskCodigo)" OnChange="@ValueCodigoUpperChanged" IncludeLiterals="@true" Enabled="@(EnabledCodigo)" Size="sm" />
                        </div>
                        <TelerikValidationMessage For="@(() => ServicioInsertar.Codigo)" />
                    </Template>
                </FormItem> 
                <FormItem>
                    <Template>
                        <label>Nombre*:</label> 
                        <TelerikTextBox AutoComplete="off" @bind-Value="@(ServicioInsertar.Nombre)" Size="sm"/>  
                        <TelerikValidationMessage For="@(() => ServicioInsertar.Nombre)" />
                    </Template>
                </FormItem> 
                 <FormItem>
                     <Template>
                         <label>Tipo de función*:</label>
                         <TelerikDropDownList @bind-Value="@ServicioInsertar.FlagTipoFuncion" TextField="Nombre" ValueField="Codigo" Data="@TiposFuncion" Size="sm">
                             <DropDownListSettings> <DropDownListPopupSettings Height="auto" /></DropDownListSettings>
                         </TelerikDropDownList>
                         <TelerikValidationMessage For="@(() => ServicioInsertar.FlagTipoFuncion)" />
                     </Template>
                 </FormItem>
                <FormItem>
                    <Template>
                        <label>Descripción:</label> 
                        <TelerikTextBox AutoComplete="off" @bind-Value="@(ServicioInsertar.Descripcion)" Size="sm"/>  
                        <TelerikValidationMessage For="@(() => ServicioInsertar.Descripcion)" />
                    </Template>
                </FormItem>
                 <FormItem>
                     <Template>
                         <label>Es adjuntable archivos:</label>
                         <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@ServicioInsertar.EsAdjuntableArchivo" Size="sm" TrackRounded="md" ThumbRounded="md" />
                     </Template>
                 </FormItem>
            </FormItems>
            <FormButtons/>
        </TelerikForm>

        <TelerikToolBar Class="toolbar-mainform">
            <ToolBarTemplateItem>
                <TelerikButton Icon="@(SvgIcon.Save)" Id="tbtn" Title="Guardar el registro" ButtonType="@ButtonType.Button" OnClick="@(Insertar)" Size="sm" ThemeColor="primary" Enabled="@(!IsLoadingAction)">Guardar</TelerikButton>
            </ToolBarTemplateItem>
            <ToolBarSeparator />
            <ToolBarTemplateItem>
                <TelerikButton Icon="@(SvgIcon.Undo)" Id="tbtn" Title="Volver a la vista anterior" Size="sm" ButtonType="@ButtonType.Button" Class="b-primary" OnClick="@(Volver)" Enabled="@(!IsLoadingAction)" Visible="@(EsVisibleVolver)">Volver</TelerikButton>
            </ToolBarTemplateItem>
            <ToolBarSpacer />
            <ToolBarTemplateItem>
                <span>* Campos obligatorios</span>
            </ToolBarTemplateItem>
        </TelerikToolBar>

    </CardBody>
</CardContainerComponent>  