@page "/origenes-asiento/{Id:guid}"

@attribute [Authorize]
 
<PageTitle>Origen de Asiento - Ver</PageTitle>

<TooltipButtonComponent/>

@if (OrigenAsientoObtener is not null)
{
    <CardContainerComponent Titulo="Visualizando origen de asiento" CodigoRegistro="@(OrigenAsientoObtener.Codigo)" CodigoServicio="@(codigoServicio)">
        <CardBody> 
            <TelerikForm Model="@OrigenAsientoObtener" Size="sm"> 
                <FormItems>
                    <FormItem>
                        <Template>
                            <label>Activo:</label>
                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@OrigenAsientoObtener.Activo" Enabled="@false" Size="sm" TrackRounded="md" ThumbRounded="md"/>
                        </Template>
                    </FormItem>
                    <FormItem>
                        <Template>
                            <label>Nombre:</label> 
                            <TelerikTextBox @bind-Value="@(OrigenAsientoObtener.Nombre)" Size="sm" Enabled="@false"/> 
                        </Template>
                    </FormItem>
                    <FormItem>
                        <Template>
                            <label>Descripción:</label>
                            <TelerikTextBox @bind-Value="@(OrigenAsientoObtener.Descripcion)" Size="sm" Enabled="@false" />
                        </Template>
                    </FormItem>
                </FormItems>
                <FormButtons/>
            </TelerikForm>

            <TelerikToolBar Class="toolbar-mainform">
                <ToolBarTemplateItem>
                    <TelerikButton Icon="@(SvgIcon.Undo)" Id="tbtn" Title="Volver a la vista del listado" ButtonType="@ButtonType.Button" Size="sm" ThemeColor="primary" OnClick="@(Volver)">Volver</TelerikButton>
                </ToolBarTemplateItem>
            </TelerikToolBar>

        </CardBody>
    </CardContainerComponent> 
}