@page "/entidades/{Id:guid}/editar"

@attribute [Authorize]

@using GestionERP.Web.Models.Dtos.Principal

<PageTitle>Entidad - Editar</PageTitle>

<NavigationLock OnBeforeInternalNavigation="@(Cerrar)" ConfirmExternalNavigation="@(IsAuthUser && IsModified)"/>

<TooltipButtonComponent />

@if (IsInitPage)
{
    <CardContainerComponent Titulo="Editando entidad" CodigoRegistro="@(EntidadObtener.Codigo)" CodigoServicio="@(codigoServicio)">
        <TelerikNotification @ref="@Alert" Class="k-alert-notification" VerticalPosition="@(NotificationVerticalPosition.Top)" HorizontalPosition="@(NotificationHorizontalPosition.Center)" />
        <CardBody>
            <TelerikForm EditContext="@(EditContext)" Size="sm">
                <FormValidation>
                    <FluentValidationValidator @ref="validator" />
                </FormValidation>
                <FormItems>
                    <FormItem Field="Activo">
                        <Template>
                            <label>Activo:</label>
                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(EntidadObtener.Activo)" Enabled="@false" Size="sm" TrackRounded="md" ThumbRounded="md" />
                        </Template>
                    </FormItem>
                    <FormItem Field="FlagTipoPersona">
                        <Template>
                            <label>Tipo de persona:</label>
                            <TelerikDropDownList Width="200px" @bind-Value="@(EntidadObtener.FlagTipoPersona)" TextField="Nombre" ValueField="Codigo" Data="@TiposPersona" Enabled="@false" Size="sm" />
                        </Template>
                    </FormItem>
                    <FormItem Field="CodigoTipoIdentificacion">
                        <Template>
                            <label>Tipo de identificación:</label>
                            <div class="item-group">
                                <TelerikTextBox AutoComplete="off" Title="Código" Enabled="@(false)" @bind-Value="@(EntidadObtener.CodigoTipoIdentificacion)" Size="sm" Width="100px" />
                                <TelerikTextBox @bind-Value="@(EntidadObtener.NombreTipoIdentificacion)" Width="50%" Title="@(EntidadObtener.NombreTipoIdentificacion)" Enabled="@(false)" Size="sm" />
                            </div>
                        </Template>
                    </FormItem>
                    <FormItem Field="Codigo">
                        <Template>
                            <label>Código (número del tipo de identificación):</label>
                            <div class="item-group">
                                <TelerikTextBox AutoComplete="off" Title="Sigla del tipo de identificación" Enabled="@(false)" @bind-Value="@(EntidadObtener.SiglaTipoIdentificacion)" Size="sm" Width="50px" />
                                <TelerikTextBox Width="150px" AutoComplete="off" @bind-Value="@(EntidadObtener.Codigo)" Enabled="@(false)" Size="sm" />
                            </div>
                        </Template>
                    </FormItem>
                    <FormItem Field="Nombre">
                        <Template>
                            <label>Nombre o razón social*:</label>
                            <TelerikTextBox AutoComplete="off" @bind-Value="@(EntidadEditar.Nombre)" Size="sm" />
                            <TelerikValidationMessage For="@(() => EntidadEditar.Nombre)" />
                        </Template>
                    </FormItem>
                    <FormItem Field="EsSeguro">
                        <Template>
                            <label>Es seguro:</label>
                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(EntidadEditar.EsSeguro)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                        </Template>
                    </FormItem>
                    <FormItem Field="EsAFP">
                        <Template>
                            <label>Es AFP:</label>
                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(EntidadEditar.EsAFP)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                        </Template>
                    </FormItem>
                    <FormItem Field="EsBanco">
                        <Template>
                            <label>Es banco:</label>
                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(EntidadEditar.EsBanco)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                        </Template>
                    </FormItem>
                    <FormItem Field="EsTransportista">
                        <Template>
                            <label>Es transportista:</label>
                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(EntidadEditar.EsTransportista)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                        </Template>
                    </FormItem>

                    <FormItem Field="BtnVehiculos">
                        <Template>
                            <TelerikButton Icon="@(SvgIcon.Cart)" Class="b-primary b-action" ButtonType="@ButtonType.Button" Visible=@EntidadEditar.EsTransportista Size="sm" OnClick="() => VisibleListaVehiculoChangedHandler(true)">Vehículos</TelerikButton>
                        </Template>
                    </FormItem>

                    <FormItem Field="CodigoPais">
                        <Template>
                            <label>País:</label>
                            <div class="item-group">
                                <TelerikTextBox AutoComplete="off" Title="Código" Enabled="@(false)" @bind-Value="@(EntidadObtener.CodigoPais)" Size="sm" Width="100px" />
                                <TelerikTextBox @bind-Value="@(EntidadObtener.NombrePais)" Width="50%" Title="@(EntidadObtener.NombrePais)" Enabled="@(false)" Size="sm" />
                            </div>
                        </Template>
                    </FormItem>
                    <FormItem Field="BtnDirecciones">
                        <Template>
                            <TelerikButton Icon="@(SvgIcon.MapMarker)" Class="b-primary b-action" ButtonType="@ButtonType.Button" Size="sm" OnClick="() => VisibleListaDireccionChangedHandler(true)">Direcciones</TelerikButton>
                        </Template>
                    </FormItem>

                    <FormGroup LabelText="Dirección predeterminada:" Class="formgroup-legend intab">
                        <FormItem>
                            <Template>
                                <div class="item-group-legend">
                                    <label>Descripción</label>
                                    <div class="item-group">
                                        <TelerikTextBox Title="Código de dirección" Placeholder="Nuevo" Enabled="@(false)" @bind-Value="@(DireccionPredeterminadoObtener.CodigoEntidadDireccion)" Size="sm" Width="150px" />
                                        <TelerikTextBox Enabled="@(false)" Title="@(DireccionPredeterminadoObtener.Nombre)" @bind-Value="@(DireccionPredeterminadoObtener.Nombre)" Size="sm" Width="100%" />
                                    </div>
                                    <label>Región:</label>
                                    <div class="item-group">
                                        <TelerikTextBox Title="Código ubigeo región" Enabled="@(false)" @bind-Value="@(DireccionPredeterminadoObtener.CodigoRegion)" Size="sm" Width="100px" />
                                        <TelerikTextBox @bind-Value="@(DireccionPredeterminadoObtener.NombreRegion)" Width="50%" Title="@(DireccionPredeterminadoObtener.NombreRegion)" Enabled="@(false)" Size="sm" />
                                    </div>
                                    <label>Provincia:</label>
                                    <div class="item-group">
                                        <TelerikTextBox Title="Código ubigeo provincia" Enabled="@(false)" @bind-Value="@(DireccionPredeterminadoObtener.CodigoProvincia)" Size="sm" Width="100px" />
                                        <TelerikTextBox @bind-Value="@(DireccionPredeterminadoObtener.NombreProvincia)" Width="50%" Title="@(DireccionPredeterminadoObtener.NombreProvincia)" Enabled="@(false)" Size="sm" />
                                    </div>
                                    <label>Distrito:</label>
                                    <div class="item-group">
                                        <TelerikTextBox Title="Código ubigeo distrito" Enabled="@(false)" @bind-Value="@(DireccionPredeterminadoObtener.CodigoDistrito)" Size="sm" Width="100px" />
                                        <TelerikTextBox @bind-Value="@(DireccionPredeterminadoObtener.NombreDistrito)" Width="50%" Title="@(DireccionPredeterminadoObtener.NombreDistrito)" Enabled="@(false)" Size="sm" />
                                    </div>
                                </div>
                            </Template>
                        </FormItem>
                    </FormGroup>

                    <FormItem Field="EsEmpresaGestionada">
                        <Template>
                            <label>Es empresa gestionada:</label>
                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(EntidadObtener.EsEmpresaGestionada)" Enabled="@(false)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                        </Template>
                    </FormItem>

                    <FormGroup Class="formgroup" Columns="3" ColumnSpacing="10px">
                        <FormItem ColSpan="3">
                            <Template>
                                <label>Nombre comercial*:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EntidadEditar.FichaSunatEditar.NombreComercial)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EntidadEditar.FichaSunatEditar.NombreComercial)" />
                            </Template>
                        </FormItem>
                        <FormItem ColSpan="3">
                            <Template>
                                <label>Actividad Principal:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EntidadEditar.FichaSunatEditar.ActividadPrincipal)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EntidadEditar.FichaSunatEditar.ActividadPrincipal)" />
                            </Template>
                        </FormItem>
                        <FormItem ColSpan="3">
                            <Template>
                                <label>Actividad Secundaria N°1:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EntidadEditar.FichaSunatEditar.ActividadSecundariaN1)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EntidadEditar.FichaSunatEditar.ActividadSecundariaN1)" />
                            </Template>
                        </FormItem>
                        <FormItem ColSpan="3">
                            <Template>
                                <label>Actividad Secundaria N°2:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EntidadEditar.FichaSunatEditar.ActividadSecundariaN2)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EntidadEditar.FichaSunatEditar.ActividadSecundariaN2)" />
                            </Template>
                        </FormItem>
                        <FormItem ColSpan="1">
                            <Template>
                                <label>Descripción del tipo de contribuyente*:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EntidadEditar.FichaSunatEditar.DescripcionTipoContribuyente)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EntidadEditar.FichaSunatEditar.DescripcionTipoContribuyente)" />
                            </Template>
                        </FormItem>
                        <FormItem ColSpan="1">
                            <Template>
                                <label>Estado del contribuyente*:</label>
                                <TelerikTextBox AutoComplete="off" @bind-Value="@(EntidadEditar.FichaSunatEditar.EstadoContribuyente)" Size="sm" />
                                <TelerikValidationMessage For="@(() => EntidadEditar.FichaSunatEditar.EstadoContribuyente)" />
                            </Template>
                        </FormItem>
                        <FormItem ColSpan="1">
                            <Template>
                                <label>Condición del contribuyente*:</label>
                                <TelerikDropDownList Width="200px" @bind-Value="@(EntidadEditar.FichaSunatEditar.FlagCondicionContribuyente)" TextField="Nombre" ValueField="Codigo" Data="@CondicionesContribuyente" Size="sm">
                                    <DropDownListSettings> <DropDownListPopupSettings Height="auto" /></DropDownListSettings>
                                </TelerikDropDownList>
                                <TelerikValidationMessage For="@(() => EntidadEditar.FichaSunatEditar.FlagCondicionContribuyente)" />
                            </Template>
                        </FormItem>
                        <FormItem ColSpan="1">
                            <Template>
                                <label>Es afecto al nuevo RUS:</label>
                                <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(EntidadEditar.FichaSunatEditar.EsAfectoNuevoRus)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                            </Template>
                        </FormItem>
                        <FormItem ColSpan="1">
                            <Template>
                                <label>Es agente retenedor:</label>
                                <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(EntidadEditar.FichaSunatEditar.EsAgenteRetenedor)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                            </Template>
                        </FormItem>
                        <FormItem ColSpan="1">
                            <Template>
                                <label>Es emisor electrónico:</label>
                                <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(EntidadEditar.FichaSunatEditar.EsEmisorElectronico)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                            </Template>
                        </FormItem>
                        <FormItem ColSpan="1">
                            <Template>
                                <label>Fecha de inscripción:</label>
                                <TelerikDateInput Size="sm" AutoComplete="off" Placeholder="dd/MM/yyyy" @bind-Value="@(EntidadEditar.FichaSunatEditar.FechaInscripcion)" />
                            </Template>
                        </FormItem>
                        <FormItem ColSpan="1">
                            <Template>
                                <label>Fecha de inicio de actividad:</label>
                                <TelerikDateInput Size="sm" AutoComplete="off" Placeholder="dd/MM/yyyy" @bind-Value="@(EntidadEditar.FichaSunatEditar.FechaInicioActividad)" />
                            </Template>
                        </FormItem>
                        <FormItem ColSpan="1">
                            <Template>
                                <label>Fecha de condición no habido:</label>
                                <TelerikDateInput Size="sm" AutoComplete="off" Placeholder="dd/MM/yyyy" @bind-Value="@(EntidadEditar.FichaSunatEditar.FechaCondicionNohabido)" />
                            </Template>
                        </FormItem>

                        <FormItem ColSpan="3">
                            <Template>
                                <label>Representantes:</label>
                                <TelerikGrid Height="auto" Data="@(EntidadObtener.Representantes)" Pageable="false" Sortable="true" Resizable="false" Size="sm" @ref="GridRepresentanteRef" Class="edit-grid" OnRowRender="@OnRowRepresentantesRenderHandler">
                                    <GridToolBarTemplate>
                                        <TelerikButton Icon="@(SvgIcon.Plus)" Class="b-primary b-action" ButtonType="@ButtonType.Button" Id="tbtn" Title="Ir a agregar nuevo ítem" Size="sm" OnClick="@(MostrarAgregarRepresentante)">Ir a agregar ítem</TelerikButton>
                                    </GridToolBarTemplate>
                                    <GridColumns>
                                        <GridColumn Field="SiglaTipoIdentificacion" Width="50px" Title="Sigla" />
                                        <GridColumn Field="NumeroTipoIdentificacion" Width="100px" Title="Número de identidad" />
                                        <GridColumn Field="Nombre" Width="300px" Title="Nombre completo" />
                                        <GridColumn Field="Activo" Width="70px" Title="Activo" TextAlign="@ColumnTextAlign.Center" HeaderClass="k-justify-content-center">
                                            <Template>
                                                <TelerikCheckBox @bind-Value="@((context as EntidadRepresentanteObtenerDto).Activo)" Size="sm" Enabled="false" />
                                            </Template>
                                        </GridColumn>
                                        <GridColumn Width="100px" Title="Acciones" Locked="@(true)">
                                            <Template>
                                                @{
                                                    EntidadRepresentanteObtenerDto item = context as EntidadRepresentanteObtenerDto;
                                                }
                                                <TelerikButton Icon="@(SvgIcon.Eye)" Size="sm" Id="tbtn" Title="Ver ítem" Class="b-primary" ButtonType="@ButtonType.Button" OnClick="@(() => VerItemRepresentante(item))" />
                                                <TelerikButton Icon="@(SvgIcon.Pencil)" Size="sm" Id="tbtn" Title="Ir a modificar ítem" Class="b-primary" ButtonType="@ButtonType.Button" OnClick="@(() => MostrarModificarRepresentante(item))" />
                                                <TelerikButton Icon="@(SvgIcon.Minus)" Size="sm" Id="tbtn" Title="Quitar ítem" Class="b-delete" ButtonType="@ButtonType.Button" OnClick="@(() => MostrarQuitarRepresentante(item))" />
                                            </Template>
                                        </GridColumn>
                                    </GridColumns>
                                    <NoDataTemplate>
                                        <span>No existen ítems registrados</span>
                                    </NoDataTemplate>
                                </TelerikGrid>
                            </Template>
                        </FormItem>

                    </FormGroup>
                </FormItems>

                <FormItemsTemplate Context="formContext">
                    @{
                        List<IFormItemBase> formObjects = formContext.Items;
                        List<IFormItem> items = [];
                        List<IFormGroup> groups = [];
                        foreach (IFormItemBase itemBase in formObjects)
                        {
                            if (itemBase is IFormGroup)
                                groups.Add((IFormGroup)itemBase);
                            else
                                items.Add((IFormItem)itemBase);
                        }
                    }
                    <TelerikTabStrip Height="535px" PersistTabContent="@(true)">
                        <TabStripTab Title="Datos Principales">
                            <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "Activo"))" />
                            <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "FlagTipoPersona"))" />
                            <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "CodigoTipoIdentificacion"))" />
                            <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "Codigo"))" />
                            <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "Nombre"))" />
                            <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "EsSeguro"))" />
                            <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "EsAFP"))" />
                            <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "EsBanco"))" />
                            <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "EsTransportista"))" />
                            <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "BtnVehiculos"))" />
                            <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "CodigoPais"))" />
                            <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "BtnDirecciones"))" />

                            <TelerikFormGroupRenderer Group="@(groups[0])">
                                <Template Context="groupContext">
                                    @foreach (IFormItem itemGroup in groupContext.Items)
                                    {
                                        <TelerikFormItemRenderer Item="@itemGroup" />
                                    }
                                </Template>
                            </TelerikFormGroupRenderer>
                            @if (EntidadObtener.EsEmpresaGestionada)
                            {
                                <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "EsEmpresaGestionada"))" />
                            }
                        </TabStripTab>

                        <TabStripTab Title="Ficha" Visible="@EsVisibleTabFichaSunat">
                            <TelerikFormGroupRenderer Group="@(groups[1])">
                                <Template Context="groupContext">
                                    @foreach (IFormItem itemGroup in groupContext.Items)
                                    {
                                        <TelerikFormItemRenderer Item="@itemGroup" />
                                    }
                                </Template>
                            </TelerikFormGroupRenderer>
                        </TabStripTab>
                    </TelerikTabStrip>
                </FormItemsTemplate>

                <FormButtons/>
            </TelerikForm>

            <TelerikToolBar Class="toolbar-mainform">
                <ToolBarTemplateItem>
                    <TelerikButton Icon="@(SvgIcon.Save)" Id="tbtn" Title="Guardar cambios del registro" ButtonType="@ButtonType.Button" OnClick="@(Editar)" Size="sm" ThemeColor="primary" Enabled="@(!IsLoadingAction)">Actualizar</TelerikButton>
                </ToolBarTemplateItem>
                <ToolBarSeparator />
                <ToolBarTemplateItem>
                    <TelerikButton Icon="@(SvgIcon.Undo)" Id="tbtn" Title="Volver a la vista anterior" ButtonType="@ButtonType.Button" Size="sm" Class="b-primary" OnClick="@(Volver)" Enabled="@(!IsLoadingAction)" Visible="@(EsVisibleVolver)">Volver</TelerikButton>
                </ToolBarTemplateItem>
                <ToolBarSpacer />
                <ToolBarTemplateItem>
                    <span>* Campos obligatorios</span>
                </ToolBarTemplateItem>
            </TelerikToolBar>

            <TelerikWindow Visible="@EsVisibleModalRepresentante" ThemeColor="dark" Modal="true" Height="auto" Width="500px" MinWidth="500px" CloseOnOverlayClick="false">
                <WindowTitle>@DescripcionAccionModal ítem de representante</WindowTitle>
                <WindowActions>
                    <WindowAction Name="Maximize" Title="Maximizar" />
                    <WindowAction Name="Close" Title="Cerrar" OnClick="@CerrarRepresentante" />
                </WindowActions>
                <WindowContent>
                    <TelerikNotification @ref="@AlertRepresentante" Class="k-alert-notification-modal" VerticalPosition="@(NotificationVerticalPosition.Top)" HorizontalPosition="@(NotificationHorizontalPosition.Center)" />
                    
                    @if (TipoAccionModal is "V")
                    {
                        <TelerikForm Model="@RepresentanteObtener" Size="sm">
                            <FormItems>
                                <FormItem>
                                    <Template>
                                        <label>Activo:</label>
                                        <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(RepresentanteObtener.Activo)" Enabled="@false" Size="sm" TrackRounded="md" ThumbRounded="md" />
                                    </Template>
                                </FormItem>
                                <FormItem>
                                    <Template>
                                        <label>Tipo de identificación:</label>
                                        <div class="item-group">
                                            <TelerikTextBox Title="Código" Enabled="@(false)" @bind-Value="@(RepresentanteObtener.CodigoTipoIdentificacion)" Size="sm" Width="100px" />
                                            <TelerikTextBox @bind-Value="@(RepresentanteObtener.NombreTipoIdentificacion)" Title="@(RepresentanteObtener.NombreTipoIdentificacion)" Enabled="@(false)" Size="sm" />
                                        </div>
                                    </Template>
                                </FormItem>
                                <FormItem>
                                    <Template>
                                        <label>Número del tipo de identificación:</label>
                                        <div class="item-group">
                                            <TelerikTextBox Title="Sigla del tipo de identificación" Enabled="@(false)" @bind-Value="@(RepresentanteObtener.SiglaTipoIdentificacion)" Size="sm" Width="50px" />
                                            <TelerikTextBox Width="150px" @bind-Value="@(RepresentanteObtener.NumeroTipoIdentificacion)" Enabled="@(false)" Size="sm" />
                                        </div>
                                    </Template>
                                </FormItem>
                                <FormItem>
                                    <Template>
                                        <label>Nombre:</label>
                                        <TelerikTextBox @bind-Value="@(RepresentanteObtener.Nombre)" Enabled="@(false)" Size="sm" />
                                    </Template>
                                </FormItem>
                                <FormItem>
                                    <Template>
                                        <label>Descripción de cargo:</label>
                                        <TelerikTextBox @bind-Value="@(RepresentanteObtener.DescripcionCargo)" Enabled="@(false)" Size="sm" />
                                    </Template>
                                </FormItem>
                                <FormItem>
                                    <Template>
                                        <label>Fecha de inicio de cargo:</label>
                                        <TelerikDateInput Size="sm" Enabled="@(false)" @bind-Value="@(RepresentanteObtener.FechaInicioCargo)" />
                                    </Template>
                                </FormItem>
                            </FormItems>
                            <FormButtons>
                                <TelerikButton Icon="@(SvgIcon.Pencil)" Size="sm" ButtonType="@ButtonType.Button" Class="b-primary" OnClick="@(() => MostrarModificarRepresentante(RepresentanteObtener))">Ir a modificar</TelerikButton>
                                <TelerikButton Icon="@(SvgIcon.Minus)" Size="sm" ButtonType="@ButtonType.Button" Class="b-delete" OnClick="@(() => MostrarQuitarRepresentante(RepresentanteObtener))">Quitar</TelerikButton>
                            </FormButtons>
                        </TelerikForm>
                    }
                    else
                    {
                        @if (TipoAccionModal is "I" or "M")
                        {
                            <TelerikForm EditContext="@EditContextRepresentanteInsertar" Size="sm" OnValidSubmit="@(() => AccionarRepresentante(TipoAccionModal))">
                                <FormValidation>
                                    <FluentValidationValidator @ref="validator" />
                                </FormValidation>
                                <FormItems>
                                    <FormItem>
                                        <Template>
                                            <label>Tipo de identificación*:</label>
                                            <div class="item-group">
                                                <TelerikTextBox AutoComplete="off" Title="Código" Placeholder="Código" Enabled="@(false)" @bind-Value="@(RepresentanteInsertar.CodigoTipoIdentificacion)" Size="sm" Width="100px" />
                                                <Principal.TipoIdentificacionCatalogoComponent CargarItemSeleccionado="@(CargarItemCatalogoTipoIdentificacion)" />
                                                <TelerikTextBox @bind-Value="@(RepresentanteObtener.NombreTipoIdentificacion)" Title="@(RepresentanteObtener.NombreTipoIdentificacion)" Placeholder="Nombre o Descripción" Enabled="@(false)" Size="sm" />
                                            </div>
                                            <TelerikValidationMessage For="@(() => RepresentanteInsertar.CodigoTipoIdentificacion)" />
                                        </Template>
                                    </FormItem>
                                    <FormItem>
                                        <Template>
                                            <label>Número del tipo de identificación*:</label>
                                            <div class="item-group">
                                                <TelerikTextBox AutoComplete="off" Title="Sigla del tipo de identificación" Placeholder="Sigla" Enabled="@(false)" @bind-Value="@(RepresentanteObtener.SiglaTipoIdentificacion)" Size="sm" Width="50px" />
                                                <TelerikTextBox Width="150px" AutoComplete="off" @bind-Value="@(RepresentanteInsertar.NumeroTipoIdentificacion)" Size="sm" />
                                            </div>
                                            <TelerikValidationMessage For="@(() => RepresentanteInsertar.NumeroTipoIdentificacion)" />
                                        </Template>
                                    </FormItem>
                                    <FormItem>
                                        <Template>
                                            <label>Nombre*:</label>
                                            <TelerikTextBox AutoComplete="off" @bind-Value="@(RepresentanteInsertar.Nombre)" Size="sm" />
                                            <TelerikValidationMessage For="@(() => RepresentanteInsertar.Nombre)" />
                                        </Template>
                                    </FormItem>
                                    <FormItem>
                                        <Template>
                                            <label>Descripción de cargo:</label>
                                            <TelerikTextBox AutoComplete="off" @bind-Value="@(RepresentanteInsertar.DescripcionCargo)" Size="sm" />
                                            <TelerikValidationMessage For="@(() => RepresentanteInsertar.DescripcionCargo)" />
                                        </Template>
                                    </FormItem>
                                    <FormItem>
                                        <Template>
                                            <label>Fecha de inicio de cargo:</label>
                                            <TelerikDateInput Size="sm" AutoComplete="off" Placeholder="dd/MM/yyyy" @bind-Value="@(RepresentanteInsertar.FechaInicioCargo)" />
                                        </Template>
                                    </FormItem>
                                </FormItems>
                                <FormButtons>
                                    <TelerikButton Icon="@(IconoAccionModal)" Size="sm" ThemeColor="secondary">@VerboAccionModal</TelerikButton>
                                </FormButtons>
                            </TelerikForm>
                        }
                        else if (TipoAccionModal is "E")
                        {
                            <TelerikForm EditContext="@EditContextRepresentanteEditar" Size="sm" OnValidSubmit="@(() => AccionarRepresentante(TipoAccionModal))">
                                <FormValidation>
                                    <FluentValidationValidator @ref="validator" />
                                </FormValidation>
                                <FormItems>
                                    <FormItem>
                                        <Template>
                                            <label>Activo:</label>
                                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(RepresentanteEditar.Activo)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                                        </Template>
                                    </FormItem>
                                    <FormItem>
                                        <Template>
                                            <label>Tipo de identificación:</label>
                                            <div class="item-group">
                                                <TelerikTextBox AutoComplete="off" Title="Código" Enabled="@(false)" @bind-Value="@(RepresentanteObtener.CodigoTipoIdentificacion)" Size="sm" Width="100px" />
                                                <TelerikTextBox @bind-Value="@(RepresentanteObtener.NombreTipoIdentificacion)" Title="@(RepresentanteObtener.NombreTipoIdentificacion)" Enabled="@(false)" Size="sm" />
                                            </div>
                                        </Template>
                                    </FormItem>
                                    <FormItem>
                                        <Template>
                                            <label>Número del tipo de identificación:</label>
                                            <div class="item-group">
                                                <TelerikTextBox AutoComplete="off" Title="Sigla del tipo de identificación" Placeholder="Sigla" Enabled="@(false)" @bind-Value="@(RepresentanteObtener.SiglaTipoIdentificacion)" Size="sm" Width="50px" />
                                                <TelerikTextBox Width="150px" AutoComplete="off" @bind-Value="@(RepresentanteObtener.NumeroTipoIdentificacion)" Enabled="@(false)" Size="sm" />
                                            </div>
                                        </Template>
                                    </FormItem>
                                    <FormItem>
                                        <Template>
                                            <label>Nombre*:</label>
                                            <TelerikTextBox AutoComplete="off" @bind-Value="@(RepresentanteEditar.Nombre)" Size="sm" />
                                            <TelerikValidationMessage For="@(() => RepresentanteEditar.Nombre)" />
                                        </Template>
                                    </FormItem>
                                    <FormItem>
                                        <Template>
                                            <label>Descripción de cargo:</label>
                                            <TelerikTextBox AutoComplete="off" @bind-Value="@(RepresentanteEditar.DescripcionCargo)" Size="sm" />
                                            <TelerikValidationMessage For="@(() => RepresentanteEditar.DescripcionCargo)" />
                                        </Template>
                                    </FormItem>
                                    <FormItem>
                                        <Template>
                                            <label>Fecha de inicio de cargo:</label>
                                            <TelerikDateInput Size="sm" AutoComplete="off" Placeholder="dd/MM/yyyy" @bind-Value="@(RepresentanteEditar.FechaInicioCargo)" />
                                        </Template>
                                    </FormItem>
                                </FormItems>
                                <FormButtons>
                                    <TelerikButton Icon="@(IconoAccionModal)" Size="sm" ThemeColor="secondary">@VerboAccionModal</TelerikButton>
                                </FormButtons>
                            </TelerikForm>
                        }
                    }
                </WindowContent>
            </TelerikWindow>

            <TelerikWindow Visible="@EsVisibleListaVehiculo" VisibleChanged="@VisibleListaVehiculoChangedHandler" ThemeColor="dark" Modal="true" Height="400px" Width="700px" CloseOnOverlayClick="false">
                <WindowTitle>Lista de vehículos</WindowTitle>
                <WindowActions>
                    <WindowAction Name="Maximize" Title="Maximizar"/>
                    <WindowAction Name="Close" Title="Cerrar"/>
                </WindowActions>
                <WindowContent>
                    <TelerikGrid Height="auto" Data="@(EntidadObtener.Vehiculos)" Pageable="false" Sortable="true" Resizable="false" Size="sm" @ref="GridVehiculoRef" Class="edit-grid" OnRowRender="@OnRowVehiculosRenderHandler">
                        <GridToolBarTemplate>
                            <TelerikButton Icon="@(SvgIcon.Plus)" Class="b-primary b-action" ButtonType="@ButtonType.Button" Id="tbtn" Title="Ir a agregar nuevo ítem" Size="sm" OnClick="@(MostrarAgregarVehiculo)">Ir a agregar ítem</TelerikButton>
                            <span class="k-toolbar-spacer"/>
                            <GridSearchBox Size="sm" Width="200px" DebounceDelay="100" />
                        </GridToolBarTemplate>
                        <GridColumns>
                            <GridColumn Field="CodigoVehiculo" Width="100px" Title="Nº de Placa" />
                            <GridColumn Field="MarcaVehiculo" Width="400px" Title="Marca" />
                            <GridColumn Field="Activo" Width="70px" Title="Activo" TextAlign="@ColumnTextAlign.Center" HeaderClass="k-justify-content-center">
                                <Template>
                                    <TelerikCheckBox @bind-Value="@((context as EntidadVehiculoObtenerDto).Activo)" Size="sm" Enabled="false" />
                                </Template>
                            </GridColumn>
                            <GridColumn Width="100px" Title="Acciones" Locked="@(true)">
                                <Template>
                                    @{
                                        EntidadVehiculoObtenerDto item = context as EntidadVehiculoObtenerDto;
                                    }
                                    <TelerikButton Icon="@(SvgIcon.Eye)" Size="sm" Id="tbtn" Title="Ver ítem" Class="b-primary" ButtonType="@ButtonType.Button" OnClick="@(() => VerItemVehiculo(item))" />
                                    <TelerikButton Icon="@(SvgIcon.Pencil)" Size="sm" Id="tbtn" Title="Ir a modificar ítem" Class="b-primary" ButtonType="@ButtonType.Button" OnClick="@(() => MostrarModificarVehiculo(item))" />
                                    <TelerikButton Icon="@(SvgIcon.Minus)" Size="sm" Id="tbtn" Title="Quitar ítem" Class="b-delete" ButtonType="@ButtonType.Button" OnClick="@(() => MostrarQuitarVehiculo(item))" />
                                </Template>
                            </GridColumn>
                        </GridColumns>
                        <NoDataTemplate>
                            <span>Aún no hay ítems por registrar</span>
                        </NoDataTemplate>
                    </TelerikGrid>
                </WindowContent>
            </TelerikWindow>
            <TelerikWindow Visible="@EsVisibleModalVehiculo" Modal="true" Height="auto" Width="500px" MinWidth="500px" CloseOnOverlayClick="false">
                <WindowTitle>@DescripcionAccionModal ítem de dirección</WindowTitle>
                <WindowActions>
                    <WindowAction Name="Maximize" Title="Maximizar" />
                    <WindowAction Name="Close" Title="Cerrar" OnClick="@CerrarVehiculo" />
                </WindowActions>
                <WindowContent>
                    <TelerikNotification @ref="@AlertVehiculo" Class="k-alert-notification-modal" VerticalPosition="@(NotificationVerticalPosition.Top)" HorizontalPosition="@(NotificationHorizontalPosition.Center)" />
                    
                        @if (TipoAccionModal is "V")
                        {
                            <TelerikForm Model="@VehiculoObtener" Size="sm">
                                <FormItems>
                                    <FormItem>
                                        <Template>
                                            <label>Activo:</label>
                                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(VehiculoObtener.Activo)" Enabled="@false" Size="sm" TrackRounded="md" ThumbRounded="md" />
                                        </Template>
                                    </FormItem>
                                    <FormItem>
                                        <Template>
                                            <label>Vehículo:</label>
                                            <div class="item-group">
                                                <TelerikTextBox Title="Código (número de placa)" Enabled="@(false)" @bind-Value="@(VehiculoObtener.CodigoVehiculo)" Size="sm" Width="100px" />
                                                <TelerikTextBox @bind-Value="@(VehiculoObtener.MarcaVehiculo)" Title="@(VehiculoObtener.MarcaVehiculo)" Enabled="@(false)" Size="sm" />
                                            </div>
                                        </Template>
                                    </FormItem>
                                    <FormItem>
                                        <Template>
                                            <label>Descripción:</label>
                                            <TelerikTextBox @bind-Value="@(VehiculoObtener.Descripcion)" Enabled="@(false)" Size="sm" />
                                        </Template>
                                    </FormItem>
                                </FormItems>
                                <FormButtons>
                                    <TelerikButton Icon="@(SvgIcon.Pencil)" Size="sm" ButtonType="@ButtonType.Button" Class="b-primary" OnClick="@(() => MostrarModificarVehiculo(VehiculoObtener))">Ir a modificar</TelerikButton>
                                    <TelerikButton Icon="@(SvgIcon.Minus)" Size="sm" ButtonType="@ButtonType.Button" Class="b-delete" OnClick="@(() => MostrarQuitarVehiculo(VehiculoObtener))">Quitar</TelerikButton>
                                </FormButtons>
                            </TelerikForm>
                        }
                        else
                        {
                            @if (TipoAccionModal is "I" or "M")
                            {
                                <TelerikForm EditContext="@EditContextVehiculoInsertar" Size="sm" OnValidSubmit="@(() => AccionarVehiculo(TipoAccionModal))">
                                    <FormValidation>
                                        <FluentValidationValidator @ref="validator" />
                                    </FormValidation>
                                    <FormItems>
                                        <FormItem>
                                            <Template>
                                                <label>Vehículo*:</label>
                                                <div class="item-group">
                                                    <TelerikTextBox Title="Código (número de placa)" Placeholder="Código" Enabled="@(false)" @bind-Value="@(VehiculoInsertar.CodigoVehiculo)" Size="sm" Width="100px" />
                                                    <Principal.VehiculoCatalogoComponent CargarItemSeleccionado="@(CargarItemCatalogoVehiculo)" />
                                                    <TelerikTextBox @bind-Value="@(VehiculoObtener.MarcaVehiculo)" Placeholder="Marca" Title="@(VehiculoObtener.MarcaVehiculo)" Enabled="@(false)" Size="sm" />
                                                </div>
                                                <TelerikValidationMessage For="@(() => VehiculoInsertar.CodigoVehiculo)" />
                                            </Template>
                                        </FormItem>
                                        <FormItem>
                                            <Template>
                                                <label>Descripción:</label>
                                                <TelerikTextBox @bind-Value="@(VehiculoInsertar.Descripcion)" Size="sm" />
                                                <TelerikValidationMessage For="@(() => VehiculoInsertar.Descripcion)" />
                                            </Template>
                                        </FormItem>
                                    </FormItems>
                                    <FormButtons>
                                        <TelerikButton Icon="@(IconoAccionModal)" Size="sm" ThemeColor="secondary">@VerboAccionModal</TelerikButton>
                                    </FormButtons>
                                </TelerikForm>
                            }
                            else if (TipoAccionModal is "E")
                            {
                                <TelerikForm EditContext="@EditContextVehiculoEditar" Size="sm" OnValidSubmit="@(() => AccionarVehiculo(TipoAccionModal))">
                                    <FormValidation>
                                        <FluentValidationValidator @ref="validator" />
                                    </FormValidation>
                                    <FormItems>
                                        <FormItem>
                                            <Template>
                                                <label>Activo:</label>
                                                <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(VehiculoEditar.Activo)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                                            </Template>
                                        </FormItem>
                                        <FormItem>
                                            <Template>
                                                <label>Vehículo:</label>
                                                <div class="item-group">
                                                    <TelerikTextBox Title="Código (número de placa)" Enabled="@(false)" @bind-Value="@(VehiculoObtener.CodigoVehiculo)" Size="sm" Width="100px" />
                                                    <TelerikTextBox @bind-Value="@(VehiculoObtener.MarcaVehiculo)" Title="@(VehiculoObtener.MarcaVehiculo)" Enabled="@(false)" Size="sm" />
                                                </div>
                                            </Template>
                                        </FormItem>
                                        <FormItem>
                                            <Template>
                                                <label>Descripción:</label>
                                                <TelerikTextBox @bind-Value="@(VehiculoEditar.Descripcion)" Size="sm" />
                                                <TelerikValidationMessage For="@(() => VehiculoEditar.Descripcion)" />
                                            </Template>
                                        </FormItem>
                                    </FormItems>
                                    <FormButtons>
                                        <TelerikButton Icon="@(IconoAccionModal)" Size="sm" ThemeColor="secondary">@VerboAccionModal</TelerikButton>
                                    </FormButtons>
                                </TelerikForm>
                            }
                        }
                </WindowContent>
            </TelerikWindow>

            <TelerikWindow Visible="@EsVisibleListaDireccion" VisibleChanged="@VisibleListaDireccionChangedHandler" ThemeColor="dark" Modal="true" Height="400px" Width="700px" CloseOnOverlayClick="false">
                <WindowTitle>Lista de direcciones</WindowTitle>
                <WindowActions>
                    <WindowAction Name="Maximize" Title="Maximizar"/>
                    <WindowAction Name="Close" Title="Cerrar"/>
                </WindowActions>
                <WindowContent>
                    <TelerikGrid Height="auto" Data="@(EntidadObtener.Direcciones)" Pageable="false" Sortable="true" Resizable="false" Size="sm" @ref="GridDireccionRef" Class="edit-grid" OnRowRender="@OnRowDireccionesRenderHandler">
                        <GridToolBarTemplate>
                            <TelerikButton Icon="@(SvgIcon.Plus)" Class="b-primary b-action" ButtonType="@ButtonType.Button" Id="tbtn" Title="Ir a agregar nuevo ítem" Size="sm" OnClick="@(MostrarAgregarDireccion)">Ir a agregar ítem</TelerikButton>
                            <span class="k-toolbar-spacer"/>
                            <GridSearchBox Size="sm" Width="200px" DebounceDelay="100" />
                        </GridToolBarTemplate>
                        <GridColumns>
                            <GridColumn Field="Codigo" Width="150px" Title="Código" />
                            <GridColumn Field="NumeroItem" Width="80px" Title="Nº ítem" />
                            <GridColumn Field="Nombre" Width="300px" Title="Nombre" />
                            <GridColumn Field="CodigoDistrito" Width="150px" Title="Ubigeo distrito" />
                            <GridColumn Field="NombreDistrito" Width="250px" Title="Nombre distrito" />
                            <GridColumn Field="EsPredeterminado" Width="100px" Title="Predeterminado" TextAlign="@ColumnTextAlign.Center" HeaderClass="k-justify-content-center">
                                <Template>
                                    <TelerikCheckBox @bind-Value="@((context as EntidadDireccionObtenerDto).EsPredeterminado)" Size="sm" Enabled="false" />
                                </Template>
                            </GridColumn>
                            <GridColumn Field="Activo" Width="70px" Title="Activo" TextAlign="@ColumnTextAlign.Center" HeaderClass="k-justify-content-center">
                                <Template>
                                    <TelerikCheckBox @bind-Value="@((context as EntidadDireccionObtenerDto).Activo)" Size="sm" Enabled="false" />
                                </Template>
                            </GridColumn>
                            <GridColumn Width="100px" Title="Acciones" Locked="@(true)">
                                <Template>
                                    @{
                                        EntidadDireccionObtenerDto item = context as EntidadDireccionObtenerDto;
                                    }
                                    <TelerikButton Icon="@(SvgIcon.Eye)" Size="sm" Id="tbtn" Title="Ver ítem" Class="b-primary" ButtonType="@ButtonType.Button" OnClick="@(() => VerItemDireccion(item))" />
                                    <TelerikButton Icon="@(SvgIcon.Pencil)" Size="sm" Id="tbtn" Title="Ir a modificar ítem" Class="b-primary" ButtonType="@ButtonType.Button" OnClick="@(() => MostrarModificarDireccion(item))" />
                                    <TelerikButton Icon="@(SvgIcon.Minus)" Size="sm" Id="tbtn" Title="Quitar ítem" Class="b-delete" ButtonType="@ButtonType.Button" OnClick="@(() => MostrarQuitarDireccion(item))" />
                                </Template>
                            </GridColumn>
                        </GridColumns>
                        <NoDataTemplate>
                            <span>Aún no hay ítems por registrar</span>
                        </NoDataTemplate>
                    </TelerikGrid>
                </WindowContent>
            </TelerikWindow>
            <TelerikWindow Visible="@EsVisibleModalDireccion" ThemeColor="dark" Modal="true" Height="auto" Width="500px" MinWidth="500px" CloseOnOverlayClick="false">
                <WindowTitle>@DescripcionAccionModal ítem de dirección</WindowTitle>
                <WindowActions>
                    <WindowAction Name="Maximize" Title="Maximizar" />
                    <WindowAction Name="Close" Title="Cerrar" OnClick="@CerrarDireccion" />
                </WindowActions>
                <WindowContent>
                    <TelerikNotification @ref="@AlertDireccion" Class="k-alert-notification-modal" VerticalPosition="@(NotificationVerticalPosition.Top)" HorizontalPosition="@(NotificationHorizontalPosition.Center)" />
                    
                    @if (TipoAccionModal is "V")
                    {
                        <TelerikForm Model="@DireccionObtener" Size="sm">
                            <FormItems>
                                <FormGroup Class="formgroup" Columns="3" ColumnSpacing="10px">
                                    <FormItem ColSpan="3">
                                        <Template>
                                            <label>Activo:</label>
                                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(DireccionObtener.Activo)" Enabled="@false" Size="sm" TrackRounded="md" ThumbRounded="md" />
                                        </Template>
                                    </FormItem>
                                    <FormItem ColSpan="2">
                                        <Template>
                                            <label>Código:</label>
                                            <TelerikTextBox Width="150px" @bind-Value="@(DireccionObtener.Codigo)" Size="sm" Enabled="@false" />
                                        </Template>
                                    </FormItem>
                                    <FormItem ColSpan="1">
                                        <Template>
                                            <label>Es predeterminado:</label>
                                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(DireccionObtener.EsPredeterminado)" Enabled="@false" Size="sm" TrackRounded="md" ThumbRounded="md" />
                                        </Template>
                                    </FormItem>
                                    <FormItem ColSpan="3">
                                        <Template>
                                            <label>Región (departamento):</label>
                                            <div class="item-group">
                                                <TelerikTextBox Title="Código Ubigeo" Enabled="@(false)" @bind-Value="@(DireccionObtener.CodigoRegion)" Size="sm" Width="100px" />
                                                <TelerikTextBox @bind-Value="@(DireccionObtener.NombreRegion)" Placeholder="Nombre o Descripción" Title="@(DireccionObtener.NombreRegion)" Enabled="@(false)" Size="sm" />
                                            </div>
                                        </Template>
                                    </FormItem>
                                    <FormItem ColSpan="3">
                                        <Template>
                                            <label>Provincia:</label>
                                            <div class="item-group">
                                                <TelerikTextBox Title="Código Ubigeo" Enabled="@(false)" @bind-Value="@(DireccionObtener.CodigoProvincia)" Size="sm" Width="100px" />
                                                <TelerikTextBox @bind-Value="@(DireccionObtener.NombreProvincia)" Placeholder="Nombre o Descripción" Title="@(DireccionObtener.NombreProvincia)" Enabled="@(false)" Size="sm" />
                                            </div>
                                        </Template>
                                    </FormItem>
                                    <FormItem ColSpan="3">
                                        <Template>
                                            <label>Distrito:</label>
                                            <div class="item-group">
                                                <TelerikTextBox Title="Código Ubigeo" Enabled="@(false)" @bind-Value="@(DireccionObtener.CodigoDistrito)" Size="sm" Width="100px" />
                                                <TelerikTextBox @bind-Value="@(DireccionObtener.NombreDistrito)" Placeholder="Nombre o Descripción" Title="@(DireccionObtener.NombreDistrito)" Enabled="@(false)" Size="sm" />
                                            </div>
                                        </Template>
                                    </FormItem>
                                    <FormItem ColSpan="3">
                                        <Template>
                                            <label>Nombre:</label>
                                            <TelerikTextBox @bind-Value="@(DireccionObtener.Nombre)" Size="sm" Enabled="@false" />
                                        </Template>
                                    </FormItem>
                                    <FormItem ColSpan="3">
                                        <Template>
                                            <label>Referencia:</label>
                                            <TelerikTextBox @bind-Value="@(DireccionObtener.Referencia)" Size="sm" Enabled="@false" />
                                        </Template>
                                    </FormItem>
                                    <FormItem ColSpan="1">
                                        <Template>
                                            <label>Latitud:</label>
                                            <TelerikNumericTextBox Arrows="@(false)" @bind-Value="@(DireccionObtener.Latitud)" Format="N6" Decimals="6" Enabled="@(false)" Size="sm" />
                                        </Template>
                                    </FormItem>
                                    <FormItem ColSpan="2">
                                        <Template>
                                            <label>Longitud:</label>
                                            <TelerikNumericTextBox Arrows="@(false)" @bind-Value="@(DireccionObtener.Longitud)" Format="N6" Decimals="6" Enabled="@(false)" Size="sm" />
                                        </Template>
                                    </FormItem>
                                    <FormItem ColSpan="1">
                                        <Template>
                                            <label>Es de oficina:</label>
                                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(DireccionObtener.EsOficina)" Enabled="@false" Size="sm" TrackRounded="md" ThumbRounded="md" />
                                        </Template>
                                    </FormItem>
                                    <FormItem ColSpan="1">
                                        <Template>
                                            <label>Es punto de llegada:</label>
                                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(DireccionObtener.EsPuntoLlegada)" Enabled="@false" Size="sm" TrackRounded="md" ThumbRounded="md" />
                                        </Template>
                                    </FormItem>
                                    <FormItem ColSpan="1">
                                        <Template>
                                            <label>Es normal (otro):</label>
                                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(DireccionObtener.EsNormal)" Enabled="@false" Size="sm" TrackRounded="md" ThumbRounded="md" />
                                        </Template>
                                    </FormItem>
                                </FormGroup>
                            </FormItems>
                            <FormButtons>
                                <TelerikButton Icon="@(SvgIcon.Pencil)" Size="sm" ButtonType="@ButtonType.Button" Class="b-primary" OnClick="@(() => MostrarModificarDireccion(DireccionObtener))">Ir a modificar</TelerikButton>
                                <TelerikButton Icon="@(SvgIcon.Minus)" Size="sm" ButtonType="@ButtonType.Button" Class="b-delete" OnClick="@(() => MostrarQuitarDireccion(DireccionObtener))">Quitar</TelerikButton>
                            </FormButtons>
                        </TelerikForm>
                    }
                    else
                    {
                        @if (TipoAccionModal is "I" or "M")
                        {
                            <TelerikForm EditContext="@EditContextDireccionInsertar" Size="sm" OnValidSubmit="@(() => AccionarDireccion(TipoAccionModal))">
                                <FormValidation>
                                    <FluentValidationValidator @ref="validator" />
                                </FormValidation>
                                <FormItems>
                                    <FormGroup Class="formgroup" Columns="3" ColumnSpacing="10px">
                                        <FormItem ColSpan="3">
                                            <Template>
                                                <label>Es predeterminado:</label>
                                                <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(DireccionInsertar.EsPredeterminado)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                                            </Template>
                                        </FormItem>
                                        <FormItem ColSpan="3">
                                            <Template>
                                                <label>Región (departamento):</label>
                                                <div class="item-group">
                                                    <TelerikTextBox Title="Código Ubigeo" Placeholder="Código" Enabled="@(false)" @bind-Value="@(DireccionObtener.CodigoRegion)" Size="sm" Width="100px" />
                                                    <Principal.RegionCatalogoComponent CargarItemSeleccionado="@(CargarItemCatalogoRegion)" />
                                                    <TelerikTextBox @bind-Value="@(DireccionObtener.NombreRegion)" Placeholder="Nombre o Descripción" Title="@(DireccionObtener.NombreRegion)" Enabled="@(false)" Size="sm" />
                                                </div>
                                            </Template>
                                        </FormItem>
                                        <FormItem ColSpan="3">
                                            <Template>
                                                <label>Provincia:</label>
                                                <div class="item-group">
                                                    <TelerikTextBox Title="Código Ubigeo" Placeholder="Código" Enabled="@(false)" @bind-Value="@(DireccionObtener.CodigoProvincia)" Size="sm" Width="100px" />
                                                    <Principal.ProvinciaCatalogoPorRegionComponent CodigoFiltro="@(DireccionObtener.CodigoRegion)" CargarItemSeleccionado="@(CargarItemCatalogoProvinciaPorRegion)" />
                                                    <TelerikTextBox @bind-Value="@(DireccionObtener.NombreProvincia)" Placeholder="Nombre o Descripción" Title="@(DireccionObtener.NombreProvincia)" Enabled="@(false)" Size="sm" />
                                                </div>
                                            </Template>
                                        </FormItem>
                                        <FormItem ColSpan="3">
                                            <Template>
                                                <label>Distrito*:</label>
                                                <div class="item-group">
                                                    <TelerikTextBox Title="Código Ubigeo" Placeholder="Código" Enabled="@(false)" @bind-Value="@(DireccionInsertar.CodigoDistrito)" Size="sm" Width="100px" />
                                                    <Principal.DistritoCatalogoPorProvinciaComponent CodigoFiltro="@(DireccionObtener.CodigoProvincia)" CargarItemSeleccionado="@(CargarItemCatalogoDistritoPorProvincia)" />
                                                    <TelerikTextBox @bind-Value="@(DireccionObtener.NombreDistrito)" Placeholder="Nombre o Descripción" Title="@(DireccionObtener.NombreDistrito)" Enabled="@(false)" Size="sm" />
                                                </div>
                                                <TelerikValidationMessage For="@(() => DireccionInsertar.CodigoDistrito)" />
                                            </Template>
                                        </FormItem>
                                        <FormItem ColSpan="3">
                                            <Template>
                                                <label>Nombre*:</label>
                                                <TelerikTextBox @bind-Value="@(DireccionInsertar.Nombre)" Size="sm" />
                                                <TelerikValidationMessage For="@(() => DireccionInsertar.Nombre)" />
                                            </Template>
                                        </FormItem>
                                        <FormItem ColSpan="3">
                                            <Template>
                                                <label>Referencia:</label>
                                                <TelerikTextBox @bind-Value="@(DireccionInsertar.Referencia)" Size="sm" />
                                                <TelerikValidationMessage For="@(() => DireccionInsertar.Referencia)" />
                                            </Template>
                                        </FormItem>
                                        <FormItem ColSpan="1">
                                            <Template>
                                                <label>Latitud:</label>
                                                <TelerikNumericTextBox Arrows="@(false)" @bind-Value="@(DireccionInsertar.Latitud)" Format="N6" Decimals="6" Size="sm" />
                                                <TelerikValidationMessage For="@(() => DireccionInsertar.Latitud)" />
                                            </Template>
                                        </FormItem>
                                        <FormItem ColSpan="2">
                                            <Template>
                                                <label>Longitud:</label>
                                                <TelerikNumericTextBox Arrows="@(false)" @bind-Value="@(DireccionInsertar.Longitud)" Format="N6" Decimals="6" Size="sm" />
                                                <TelerikValidationMessage For="@(() => DireccionInsertar.Longitud)" />
                                            </Template>
                                        </FormItem>
                                        <FormItem ColSpan="1">
                                            <Template>
                                                <label>Es de oficina:</label>
                                                <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(DireccionInsertar.EsOficina)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                                            </Template>
                                        </FormItem>
                                        <FormItem ColSpan="1">
                                            <Template>
                                                <label>Es punto de llegada:</label>
                                                <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(DireccionInsertar.EsPuntoLlegada)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                                            </Template>
                                        </FormItem>
                                        <FormItem ColSpan="1">
                                            <Template>
                                                <label>Es normal (otro):</label>
                                                <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(DireccionInsertar.EsNormal)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                                            </Template>
                                        </FormItem>

                                    </FormGroup>
                                </FormItems>
                                <FormButtons>
                                    <TelerikButton Icon="@(IconoAccionModal)" Size="sm" ThemeColor="secondary">@VerboAccionModal</TelerikButton>
                                </FormButtons>
                            </TelerikForm>
                        }
                        else if (TipoAccionModal is "E")
                        {
                            <TelerikForm EditContext="@EditContextDireccionEditar" Size="sm" OnValidSubmit="@(() => AccionarDireccion(TipoAccionModal))">
                                <FormValidation>
                                    <FluentValidationValidator @ref="validator" />
                                </FormValidation>
                                <FormItems>
                                    <FormGroup Class="formgroup" Columns="3" ColumnSpacing="10px">
                                        <FormItem ColSpan="3">
                                            <Template>
                                                <label>Activo:</label>
                                                <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(DireccionEditar.Activo)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                                            </Template>
                                        </FormItem>
                                        <FormItem ColSpan="2">
                                            <Template>
                                                <label>Código:</label>
                                                <TelerikTextBox Width="150px" @bind-Value="@(DireccionObtener.Codigo)" Size="sm" Enabled="@false" />
                                            </Template>
                                        </FormItem>
                                        <FormItem ColSpan="1">
                                            <Template>
                                                <label>Es predeterminado:</label>
                                                <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(DireccionEditar.EsPredeterminado)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                                            </Template>
                                        </FormItem>
                                        <FormItem ColSpan="3">
                                            <Template>
                                                <label>Región (departamento):</label>
                                                <div class="item-group">
                                                    <TelerikTextBox Title="Código Ubigeo" Placeholder="Código" Enabled="@(false)" @bind-Value="@(DireccionObtener.CodigoRegion)" Size="sm" Width="100px" />
                                                    <Principal.RegionCatalogoComponent CargarItemSeleccionado="@(CargarItemCatalogoRegion)" />
                                                    <TelerikTextBox @bind-Value="@(DireccionObtener.NombreRegion)" Placeholder="Nombre o Descripción" Title="@(DireccionObtener.NombreRegion)" Enabled="@(false)" Size="sm" />
                                                </div>
                                            </Template>
                                        </FormItem>
                                        <FormItem ColSpan="3">
                                            <Template>
                                                <label>Provincia:</label>
                                                <div class="item-group">
                                                    <TelerikTextBox Title="Código Ubigeo" Placeholder="Código" Enabled="@(false)" @bind-Value="@(DireccionObtener.CodigoProvincia)" Size="sm" Width="100px" />
                                                    <Principal.ProvinciaCatalogoPorRegionComponent CodigoFiltro="@(DireccionObtener.CodigoRegion)" CargarItemSeleccionado="@(CargarItemCatalogoProvinciaPorRegion)" />
                                                    <TelerikTextBox @bind-Value="@(DireccionObtener.NombreProvincia)" Placeholder="Nombre o Descripción" Title="@(DireccionObtener.NombreProvincia)" Enabled="@(false)" Size="sm" />
                                                </div>
                                            </Template>
                                        </FormItem>
                                        <FormItem ColSpan="3">
                                            <Template>
                                                <label>Distrito*:</label>
                                                <div class="item-group">
                                                    <TelerikTextBox Title="Código Ubigeo" Placeholder="Código" Enabled="@(false)" @bind-Value="@(DireccionEditar.CodigoDistrito)" Size="sm" Width="100px" />
                                                    <Principal.DistritoCatalogoPorProvinciaComponent CodigoFiltro="@(DireccionObtener.CodigoProvincia)" CargarItemSeleccionado="@(CargarItemCatalogoDistritoPorProvincia)" />
                                                    <TelerikTextBox @bind-Value="@(DireccionObtener.NombreDistrito)" Placeholder="Nombre o Descripción" Title="@(DireccionObtener.NombreDistrito)" Enabled="@(false)" Size="sm" />
                                                </div>
                                                <TelerikValidationMessage For="@(() => DireccionEditar.CodigoDistrito)" />
                                            </Template>
                                        </FormItem>
                                        <FormItem ColSpan="3">
                                            <Template>
                                                <label>Nombre*:</label>
                                                <TelerikTextBox @bind-Value="@(DireccionEditar.Nombre)" Size="sm" />
                                                <TelerikValidationMessage For="@(() => DireccionEditar.Nombre)" />
                                            </Template>
                                        </FormItem>
                                        <FormItem ColSpan="3">
                                            <Template>
                                                <label>Referencia:</label>
                                                <TelerikTextBox @bind-Value="@(DireccionEditar.Referencia)" Size="sm" />
                                                <TelerikValidationMessage For="@(() => DireccionEditar.Referencia)" />
                                            </Template>
                                        </FormItem>
                                        <FormItem ColSpan="1">
                                            <Template>
                                                <label>Latitud:</label>
                                                <TelerikNumericTextBox Arrows="@(false)" @bind-Value="@(DireccionEditar.Latitud)" Format="N6" Decimals="6" Size="sm" />
                                                <TelerikValidationMessage For="@(() => DireccionEditar.Latitud)" />
                                            </Template>
                                        </FormItem>
                                        <FormItem ColSpan="2">
                                            <Template>
                                                <label>Longitud:</label>
                                                <TelerikNumericTextBox Arrows="@(false)" @bind-Value="@(DireccionEditar.Longitud)" Format="N6" Decimals="6" Size="sm" />
                                                <TelerikValidationMessage For="@(() => DireccionEditar.Longitud)" />
                                            </Template>
                                        </FormItem>
                                        <FormItem ColSpan="1">
                                            <Template>
                                                <label>Es de oficina:</label>
                                                <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(DireccionEditar.EsOficina)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                                            </Template>
                                        </FormItem>
                                        <FormItem ColSpan="1">
                                            <Template>
                                                <label>Es punto de llegada:</label>
                                                <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(DireccionEditar.EsPuntoLlegada)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                                            </Template>
                                        </FormItem>
                                        <FormItem ColSpan="1">
                                            <Template>
                                                <label>Es normal (otro):</label>
                                                <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@(DireccionEditar.EsNormal)" Size="sm" TrackRounded="md" ThumbRounded="md" />
                                            </Template>
                                        </FormItem>

                                    </FormGroup>
                                </FormItems>
                                <FormButtons>
                                    <TelerikButton Icon="@(IconoAccionModal)" Size="sm" ThemeColor="secondary">@VerboAccionModal</TelerikButton>
                                </FormButtons>
                            </TelerikForm>
                        }

                    }
                </WindowContent>
            </TelerikWindow>

            <TelerikDialog @bind-Visible="@EsVisibleDialogDireccion" Width="250px" ShowCloseButton="@(false)" ThemeColor="dark" CloseOnOverlayClick="@(false)" FocusedElementSelector=".ok-btn" ButtonsLayout="@(DialogButtonsLayout.Center)">
                <DialogTitle>
                    <h3>Quitando ítem de direcciones</h3>
                </DialogTitle>
                <DialogContent> ¿Está seguro de quitar el ítem? </DialogContent>
                <DialogButtons>
                    <TelerikButton Class="ok-btn" Icon="@(SvgIcon.Check)" ThemeColor="secondary" OnClick="@(() => AccionarDireccion(TipoAccionDialog))" Size="sm">Sí</TelerikButton>
                    <TelerikButton Class="undo-btn" Icon="@(SvgIcon.X)" OnClick="@(CerrarDialog)" Size="sm">No</TelerikButton>
                </DialogButtons>
            </TelerikDialog>

            <TelerikDialog @bind-Visible="@EsVisibleDialogRepresentante" Width="250px" ShowCloseButton="@(false)" ThemeColor="dark" CloseOnOverlayClick="@(false)" FocusedElementSelector=".ok-btn" ButtonsLayout="@(DialogButtonsLayout.Center)">
                <DialogTitle>
                    <h3>Quitando ítem de representantes</h3>
                </DialogTitle>
                <DialogContent> ¿Está seguro de quitar el ítem? </DialogContent>
                <DialogButtons>
                    <TelerikButton Class="ok-btn" Icon="@(SvgIcon.Check)" ThemeColor="secondary" OnClick="@(() => AccionarRepresentante(TipoAccionDialog))" Size="sm">Sí</TelerikButton>
                    <TelerikButton Class="undo-btn" Icon="@(SvgIcon.X)" OnClick="@(CerrarDialog)" Size="sm">No</TelerikButton>
                </DialogButtons>
            </TelerikDialog>

            <TelerikDialog @bind-Visible="@EsVisibleDialogVehiculo" Width="250px" ShowCloseButton="@(false)" ThemeColor="dark" CloseOnOverlayClick="@(false)" FocusedElementSelector=".ok-btn" ButtonsLayout="@(DialogButtonsLayout.Center)">
                <DialogTitle>
                    <h3>Quitando ítem de vehículos</h3>
                </DialogTitle>
                <DialogContent> ¿Está seguro de quitar el ítem? </DialogContent>
                <DialogButtons>
                    <TelerikButton Class="ok-btn" Icon="@(SvgIcon.Check)" ThemeColor="secondary" OnClick="@(() => AccionarVehiculo(TipoAccionDialog))" Size="sm">Sí</TelerikButton>
                    <TelerikButton Class="undo-btn" Icon="@(SvgIcon.X)" OnClick="@(CerrarDialog)" Size="sm">No</TelerikButton>
                </DialogButtons>
            </TelerikDialog>

        </CardBody>
    </CardContainerComponent>
}
