@page "/tipos-generacion/{Id:guid}"

@attribute [Authorize] 
<PageTitle>Tipo de Generación - Ver</PageTitle>

<TooltipButtonComponent/>

@if (TipoGeneracionObtener is not null)
{
    <CardContainerComponent Titulo="Visualizando tipo de generación automática" CodigoRegistro="@(TipoGeneracionObtener.Codigo)" CodigoServicio="@(codigoServicio)">
        <CardBody> 
            <TelerikForm Model="@TipoGeneracionObtener" Size="sm"> 
                <FormItems>
                    <FormItem>
                        <Template>
                            <label>Activo:</label>
                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@TipoGeneracionObtener.Activo" Enabled="@false" Size="sm" TrackRounded="md" ThumbRounded="md"/>
                        </Template>
                    </FormItem>
                    <FormItem>
                        <Template>
                            <label>Nombre:</label> 
                            <TelerikTextBox @bind-Value="@(TipoGeneracionObtener.Nombre)" Size="sm" Enabled="@false"/> 
                        </Template>
                    </FormItem>
                    <FormItem>
                        <Template>
                            <label>Descripción:</label>
                            <TelerikTextBox @bind-Value="@(TipoGeneracionObtener.Descripcion)" Size="sm" Enabled="@false" />
                        </Template>
                    </FormItem>
                    <FormItem>
                        <Template>
                            <label>Crea operación financiera:</label>
                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@TipoGeneracionObtener.CreaOperacionFinanciera" Enabled="@false" Size="sm" TrackRounded="md" ThumbRounded="md" />
                        </Template>
                    </FormItem>
                    <FormItem>
                        <Template>
                            <label>Crea operación logística:</label>
                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@TipoGeneracionObtener.CreaOperacionLogistica" Enabled="@false" Size="sm" TrackRounded="md" ThumbRounded="md" />
                        </Template>
                    </FormItem>
                    <FormItem>
                        <Template>
                            <label>Crea operación logística destino</label>
                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@TipoGeneracionObtener.CreaOperacionLogisticaDestino" Enabled="@false" Size="sm" TrackRounded="md" ThumbRounded="md" />
                        </Template>
                    </FormItem>
                    <FormItem>
                        <Template>
                            <label>Crea documento:</label>
                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@TipoGeneracionObtener.CreaDocumento" Enabled="@false" Size="sm" TrackRounded="md" ThumbRounded="md" />
                        </Template>
                    </FormItem>
                    <FormItem>
                        <Template>
                            <label>Crea diario contable:</label>
                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@TipoGeneracionObtener.CreaDiario" Enabled="@false" Size="sm" TrackRounded="md" ThumbRounded="md" />
                        </Template>
                    </FormItem> 
                </FormItems>
                <FormButtons/>
            </TelerikForm>

            <TelerikToolBar Class="toolbar-mainform">
                <ToolBarTemplateItem>
                    <TelerikButton Icon="@(SvgIcon.Undo)" Id="tbtn" Title="Volver a la vista del listado" ButtonType="@ButtonType.Button" Size="sm" ThemeColor="primary" OnClick="@(Volver)">Volver</TelerikButton>
                </ToolBarTemplateItem>
            </TelerikToolBar>

        </CardBody>
    </CardContainerComponent>
}