@page "/tipos-articulo/{Id:guid}"

@attribute [Authorize] 
<PageTitle>Tipo de artículo - Ver</PageTitle>

<TooltipButtonComponent/>

@if (TipoArticuloObtener is not null)
{
    <CardContainerComponent Titulo="Visualizando tipo de artículo" CodigoRegistro="@(TipoArticuloObtener.Codigo)" CodigoServicio="@(codigoServicio)">
        <CardBody> 
            <TelerikForm Model="@TipoArticuloObtener" Size="sm"> 
                <FormItems>
                    <FormItem>
                        <Template>
                            <label>Activo:</label>
                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@TipoArticuloObtener.Activo" Enabled="@false" Size="sm" TrackRounded="md" ThumbRounded="md"/>
                        </Template>
                    </FormItem>
                    <FormItem>
                        <Template>
                            <label>Nombre:</label> 
                            <TelerikTextBox @bind-Value="@(TipoArticuloObtener.Nombre)" Size="sm" Enabled="@false"/> 
                        </Template>
                    </FormItem> 
                    <FormItem>
                        <Template>
                            <label>Descripción:</label> 
                            <TelerikTextBox @bind-Value="@(TipoArticuloObtener.Descripcion)" Size="sm" Enabled="@false"/>
                        </Template>
                    </FormItem>
                    <FormItem>
                        <Template>
                            <label>Categoría:</label>
                            <TelerikDropDownList Width="200px" @bind-Value="@(TipoArticuloObtener.FlagCategoria)" TextField="Nombre" ValueField="Codigo" Data="@Categorias" Enabled="@false" Size="sm" />
                        </Template>
                    </FormItem>
                    <FormItem>
                        <Template>
                            <label>Es existencia:</label>
                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@TipoArticuloObtener.EsExistencia" Enabled="@false" Size="sm" TrackRounded="md" ThumbRounded="md" />
                        </Template>
                    </FormItem>
                </FormItems>
                <FormButtons/>
            </TelerikForm>

            <TelerikToolBar Class="toolbar-mainform">
                <ToolBarTemplateItem>
                    <TelerikButton Icon="@(SvgIcon.Undo)" Id="tbtn" Title="Volver a la vista del listado" ButtonType="@ButtonType.Button" Size="sm" ThemeColor="primary" OnClick="@(Volver)">Volver</TelerikButton>
                </ToolBarTemplateItem>
            </TelerikToolBar>

        </CardBody>
    </CardContainerComponent>
}