@page "/{CodigoWebEmpresa}/compra/solicitudes/emitir"
@using GestionERP.Web.Models.Dtos.Compra

@attribute [Authorize] 

<PageTitle>@Empresa?.Acronimo - Solicitud Compra - Emitir</PageTitle>

<NavigationLock OnBeforeInternalNavigation="@(Cerrar)" ConfirmExternalNavigation="@(IsAuthUser && IsModified)"/>

<TooltipButtonComponent/>

@if (IsInitPage)
{
    <CardContainerComponent Titulo="Emitiendo solicitud de compra" CodigoServicio="@(codigoServicio)">
        <TelerikNotification @ref="@Alert" Class="k-alert-notification" VerticalPosition="@(NotificationVerticalPosition.Top)" HorizontalPosition="@(NotificationHorizontalPosition.Center)" />
        <CardBody>
            <TelerikForm EditContext="@EditContext" Size="sm">
                <FormValidation>
                    <FluentValidationValidator Validator="@(Validator)" />
                </FormValidation>
                <FormItems>
                    <FormGroup Class="formgroup" Columns="7" ColumnSpacing="10px">
                        <FormItem ColSpan="5">
                            <Template>
                                <label>Documento*:</label>
                                <div class="item-group">
                                    <TelerikTextBox @bind-Value="@(SolicitudInsertar.CodigoDocumento)" Id="codigodoc" AutoComplete="off" Placeholder="Código" Title="Código" Class="t-main" ReadOnly="@true" Size="sm" Width="70px" />
                                    @if (EsVisibleBotonDocumento)
                                    {
                                        <Empresa.SerieDocumentoCatalogoPorSesionComponent CodigoEmpresa="@Empresa.Codigo" FlagTipoAccion="C" CodigoTipoDocumento="@CodigoTipoDocumento" CodigoExcluir="@(string.Concat(SolicitudInsertar.CodigoDocumento?.TrimEnd(), SolicitudInsertar.CodigoSerieDocumento?.TrimEnd()))" CargarItemSeleccionado="@(CargarItemCatalogoSerieDocumento)" />
                                    }
                                    <TelerikTextBox AutoComplete="off" Placeholder="Serie" Title="Código de Serie" Class="t-main" ReadOnly="@true" @bind-Value="@(SolicitudInsertar.CodigoSerieDocumento)" Size="sm" Width="60px" />
                                    <TelerikTextBox @bind-Value="@(Solicitud.NombreSerieDocumento)" Title="@(Solicitud.NombreSerieDocumento)" Placeholder="Nombre de numerador" Class="t-main" ReadOnly="@true" Size="sm" />
                                </div>
                                <TelerikValidationTooltip For="@(() => SolicitudInsertar.CodigoDocumento)" TargetSelector="#codigodoc" />
                            </Template>
                        </FormItem>
                        <FormItem ColSpan="2">
                            <Template>
                                <label>Fecha de emisión*:</label>
                                <TelerikDatePicker @bind-Value="@(SolicitudInsertar.FechaEmision)" OnChange="@OnChangeFechaEmisionHandler" Id="fecemision" Width="110px" Size="sm" Min="@FechaIntervalo.FechaInicio" Max="@FechaIntervalo.FechaFin" DisabledDates="@FechasCerradoOperacion" AutoComplete="off" Placeholder="dd/MM/yyyy" />
                                <TelerikValidationTooltip For="@(() => SolicitudInsertar.FechaEmision)" TargetSelector="#fecemision" />
                            </Template>
                        </FormItem>

                        <FormItem ColSpan="5">
                            <Template>
                                <label>Proveedor:</label>
                                <div class="item-group">
                                    <TelerikTextBox Value="@(SolicitudInsertar.CodigoEntidad)" DebounceDelay="@(0)" ValueChanged="@ValueChangeEntidadHandler" ValueExpression="@(() => SolicitudInsertar.CodigoEntidad)" OnChange="@OnChangeEntidadHandler" Id="codigoprov" AutoComplete="off" Placeholder="Código" Title="Código" Size="sm" Width="120px" MaxLength="11" />
                                    <Empresa.EntidadProveedorCatalogoComponent CodigoEmpresa="@Empresa.Codigo" FlagAmbito="L" CargarItemSeleccionado="@(CargarItemCatalogoProveedor)" CodigoExcluir="@(SolicitudInsertar.CodigoEntidad)" />
                                    <TelerikTextBox @bind-Value="@(Solicitud.NombreEntidad)" Title="@(Solicitud.NombreEntidad)" Placeholder="Nombre o razón social del proveedor" Enabled="@(false)" Size="sm" />
                                </div>
                                <TelerikValidationTooltip For="@(() => SolicitudInsertar.CodigoEntidad)" TargetSelector="#codigoprov" />
                            </Template>
                        </FormItem>
                        <FormItem ColSpan="2">
                            <Template>
                                <label>Local de recepción:</label>
                                <div class="item-group">
                                    <TelerikTextBox Value="@(SolicitudInsertar.CodigoLocalRecepcion)" DebounceDelay="@(0)" ValueChanged="@ValueChangeLocalHandler" ValueExpression="@(() => SolicitudInsertar.CodigoLocalRecepcion)" OnChange="@OnChangeLocalHandler" Id="local" AutoComplete="off" Placeholder="Código" Title="Código" Enabled="@(!string.IsNullOrEmpty(SolicitudInsertar.CodigoDocumento) && string.IsNullOrEmpty(CodigoLocalNumerador))" Size="sm" Width="60px" MaxLength="3" />
                                    @if (!string.IsNullOrEmpty(SolicitudInsertar.CodigoDocumento) && string.IsNullOrEmpty(CodigoLocalNumerador))
                                    {
                                        <Empresa.LocalCatalogoComponent CodigoEmpresa="@Empresa.Codigo" CargarItemSeleccionado="@(CargarItemCatalogoLocal)" CodigoExcluir="@(SolicitudInsertar.CodigoLocalRecepcion)" />
                                    }
                                    <TelerikTextBox @bind-Value="@(Solicitud.NombreLocalRecepcion)" Title="@(Solicitud.NombreLocalRecepcion)" Placeholder="Nombre" Enabled="@(false)" Size="sm" />
                                </div>
                                <TelerikValidationTooltip For="@(() => SolicitudInsertar.CodigoLocalRecepcion)" TargetSelector="#local" />
                            </Template>
                        </FormItem>

                        <FormItem ColSpan="5">
                            <Template>
                                <label>Referencia del proveedor:</label>
                                <TelerikTextBox @bind-Value="@(SolicitudInsertar.ReferenciaProveedor)" OnChange="@OnChangeReferenciaProveedorHandler" Id="refproveedor" Title="@(SolicitudInsertar.ReferenciaProveedor)" MaxLength="100" Size="sm" />
                                <TelerikValidationTooltip For="@(() => SolicitudInsertar.ReferenciaProveedor)" TargetSelector="#refproveedor" />
                            </Template>
                        </FormItem>
                        <FormItem ColSpan="1">
                            <Template>
                                <label>Fecha de entrega*:</label>
                                <TelerikDateInput @bind-Value="@(SolicitudInsertar.FechaEntrega)" OnChange="@OnChangeFechaEntregaHandler" Id="fecentrega" Width="110px" Size="sm" AutoComplete="off" Placeholder="dd/MM/yyyy" />
                                <TelerikValidationTooltip For="@(() => SolicitudInsertar.FechaEntrega)" TargetSelector="#fecentrega" />
                            </Template>
                        </FormItem>
                        <FormItem ColSpan="1">
                            <Template>
                                <label>Nivel de prioridad*:</label>
                                <TelerikDropDownList @bind-Value="@SolicitudInsertar.FlagNivelPrioridad" OnChange="@OnChangeFlagNivelPrioridadHandler" Id="nivelprioridad" TextField="Nombre" ValueField="Codigo" Data="@NivelesPrioridad" Size="sm">
                                    <DropDownListSettings> <DropDownListPopupSettings Height="auto" /></DropDownListSettings>
                                </TelerikDropDownList>
                                <TelerikValidationTooltip For="@(() => SolicitudInsertar.FlagNivelPrioridad)" TargetSelector="#nivelprioridad" />
                            </Template>
                        </FormItem>

                        <FormItem ColSpan="4">
                            <Template>
                                <div class="item-group-block">
                                    <label>Usuario solicitante:</label>
                                    <div class="item-group">
                                        <TelerikTextBox AutoComplete="off" Title="Código" Enabled="@(false)" @bind-Value="@(SolicitudInsertar.CodigoUsuarioSolicitante)" Size="sm" Width="60px" />
                                        <TelerikTextBox @bind-Value="@(Solicitud.NombreUsuarioSolicitante)" Title="@(Solicitud.NombreUsuarioSolicitante)" Enabled="@(false)" Size="sm" />
                                    </div>
                                    <span class="ig-space" />
                                    <label>Area solicitante:</label>
                                    <div class="item-group">
                                        <TelerikTextBox AutoComplete="off" Title="Código" Enabled="@(false)" @bind-Value="@(SolicitudInsertar.CodigoArea)" Size="sm" Width="60px" />
                                        <TelerikTextBox @bind-Value="@(Solicitud.NombreArea)" Title="@(Solicitud.NombreArea)" Enabled="@(false)" Size="sm" />
                                    </div>
                                </div>
                            </Template>
                        </FormItem>
                        <FormItem ColSpan="3">
                            <Template>
                                <label>Motivo:</label>
                                <TelerikTextArea @bind-Value="@(SolicitudInsertar.Motivo)" OnChange="@OnChangeMotivoHandler" Id="motivo" AutoComplete="off" Class="textarea-wrapper" Rows="3" Title="@(SolicitudInsertar.Motivo)" MaxLength="200" Size="sm" />
                                <TelerikValidationTooltip For="@(() => SolicitudInsertar.Motivo)" TargetSelector="#motivo" />
                            </Template>
                        </FormItem>

                        <FormItem ColSpan="4">
                            <Template>
                                <label>Observación:</label>
                                <TelerikTextBox @bind-Value="@(SolicitudInsertar.Observacion)" OnChange="@OnChangeObservacionHandler" AutoComplete="off" Id="observacion" Title="@(SolicitudInsertar.Observacion)" MaxLength="100" Size="sm" />
                                <TelerikValidationTooltip For="@(() => SolicitudInsertar.Observacion)" TargetSelector="#observacion" />
                            </Template>
                        </FormItem>
                        <FormItem ColSpan="3">
                            <Template>
                                <label>Es requerido revisión:</label>
                                <TelerikSwitch @bind-Value="@(Solicitud.EsRequeridoRevision)" OnLabel="Sí" OffLabel="No" Enabled="@false" Size="sm" TrackRounded="md" ThumbRounded="md" />
                            </Template>
                        </FormItem>
                    </FormGroup>

                    <FormItem Field="GrdDetalle">
                        <Template>
                            <label>Detalle*:</label>
                            <TelerikGrid Data="@(GridDetalles)" Height="auto" Pageable="false" Sortable="true" Resizable="true" Size="sm" EditMode="@(GridEditMode.Incell)" OnUpdate=@UpdateItemDetalleHandler OnEdit="@EditDetalleHandler" OnCancel="@CancelDetalleHandler" @ref="GridDetalleRef">
                                <GridSettings>
                                    <GridValidationSettings>
                                        <ValidatorTemplate>
                                            <FluentValidationValidator Validator="@(GridDetalleValidator)"/>
                                        </ValidatorTemplate>
                                    </GridValidationSettings>
                                </GridSettings>
                                <GridToolBarTemplate>
                                    <TelerikButton Icon="@(SvgIcon.Plus)" Class="b-primary b-action" ButtonType="@ButtonType.Button" Id="tbtn" Title="Ir a agregar nuevo ítem" Size="sm" Enabled="@(!IsEditingGridDetalle)" OnClick="@(MostrarAgregarDetalle)">Ir a agregar ítem</TelerikButton>
                                </GridToolBarTemplate>
                                <GridColumns> 
                                    <GridColumn Field="NombreTipoArticulo" Width="80px" Title="Tipo" Editable="@false" />
                                    <GridColumn Field="CodigoArticulo" Width="120px" Title="Código artículo" Editable="@false" />
                                    <GridColumn Field="NombreArticulo" Width="400px" Title="Nombre de artículo" Editable="@false" />
                                    <GridColumn Field="Presentacion" Width="200px" Title="Presentación del artículo" Editable="@false" />
                                    <GridColumn Field="CodigoUnidadMedida" Width="45px" Editable="@false" >
										<HeaderTemplate> <span title="Unidad de Medida">U.M.</span> </HeaderTemplate>
									</GridColumn>
                                    <GridColumn Field="Cantidad" Width="120px" Title="Cantidad" DisplayFormat="{0:N3}" TextAlign="@ColumnTextAlign.Right" HeaderClass="k-justify-content-center grid-column-edit" OnCellRender="@OnCellCantidadRenderHandler">
                                        <EditorTemplate>
                                            @{
                                                SolicitudDetalleGrid item = context as SolicitudDetalleGrid;
                                                <TelerikNumericTextBox @bind-Value="@(item.Cantidad)" Id="griddetcantidad" AutoComplete="off" Arrows="@(false)" Width="100%" Min="0" Format="N3" Decimals="3" Size="sm" />
                                                <TelerikValidationTooltip For="@(() => item.Cantidad)" TargetSelector="#griddetcantidad" />
                                            }
                                        </EditorTemplate>
                                    </GridColumn>
                                    <GridColumn Width="100px" Title="Acciones" Locked="@(true)" Editable="@false">
                                        <Template>
                                            @{
                                                SolicitudDetalleGrid item = context as SolicitudDetalleGrid;
                                            }
                                            <TelerikButton Icon="@(SvgIcon.Eye)" Size="sm" Id="tbtn" Title="Ver ítem" Class="b-primary" ButtonType="@ButtonType.Button" Enabled="@(!IsEditingGridDetalle)" OnClick="@(() => VerItemDetalle(item))" />
                                            <TelerikButton Icon="@(SvgIcon.Pencil)" Size="sm" Id="tbtn" Title="Ir a modificar ítem" Class="b-primary" ButtonType="@ButtonType.Button" Enabled="@(!IsEditingGridDetalle)" OnClick="@(() => MostrarModificarDetalle(item))" />
                                            <TelerikButton Icon="@(SvgIcon.Minus)" Size="sm" Id="tbtn" Title="Quitar ítem" Class="b-delete" ButtonType="@ButtonType.Button" Enabled="@(!IsEditingGridDetalle)" OnClick="@(() => MostrarQuitarDetalle(item.CodigoArticulo))" />
                                        </Template>
                                    </GridColumn>
                                </GridColumns>

                                <NoDataTemplate>
                                    <span>Aún no hay ítems por registrar</span>
                                </NoDataTemplate>
                            </TelerikGrid>
                        </Template>
                    </FormItem>
                </FormItems>
                <FormButtons/>
            </TelerikForm>

            <TelerikToolBar Class="toolbar-mainform">
                <ToolBarTemplateItem>
                    <TelerikButton Icon="@(SvgIcon.Save)" Id="tbtn" Title="Guardar el registro" Size="sm" ButtonType="@ButtonType.Button" OnClick="@(Insertar)" ThemeColor="primary" Enabled="@(!IsLoadingAction & !IsEditingGridDetalle)">Guardar</TelerikButton>
                </ToolBarTemplateItem>
                <ToolBarSeparator />
                <ToolBarTemplateItem>
                    <TelerikButton Icon="@(SvgIcon.Undo)" Id="tbtn" Title="Volver a la vista anterior" Size="sm" ButtonType="@ButtonType.Button" Class="b-primary" OnClick="@(Volver)" Enabled="@(!IsLoadingAction)" Visible="@(EsVisibleVolver)">Volver</TelerikButton>
                </ToolBarTemplateItem>
                <ToolBarSpacer />
                <ToolBarTemplateItem>
                    <span>* Campos obligatorios</span>
                </ToolBarTemplateItem>
            </TelerikToolBar>

            <TelerikWindow Visible="@EsVisibleModalDetalle" ThemeColor="dark" Modal="true" Height="auto" Width="500px" MinWidth="500px" CloseOnOverlayClick="false">
                <WindowTitle>@DescripcionAccionModal ítem de detalle</WindowTitle>
                <WindowActions>
                    <WindowAction Name="Maximize" Title="Maximizar" />
                    <WindowAction Name="Close" Title="Cerrar" OnClick="@CerrarDetalle" />
                </WindowActions>
                <WindowContent>
                    <TelerikNotification @ref="@AlertDetalle" Class="k-alert-notification-modal" VerticalPosition="@(NotificationVerticalPosition.Top)" HorizontalPosition="@(NotificationHorizontalPosition.Center)" />
                    @if (TipoAccionModal is "V")
                    {
                        <TelerikForm Model="@Detalle" Size="sm">
                            <FormItems>
                                <FormItem>
                                    <Template>
                                        <label>Artículo:</label>
                                        <div class="item-group">
                                            <TelerikTextBox @bind-Value="@(Detalle.CodigoArticulo)" Title="Código" Enabled="@false" Size="sm" Width="190px" />
                                            <TelerikTextBox @bind-Value="@(Detalle.NombreArticulo)" Title="@(Detalle.NombreArticulo)" Enabled="@false" Size="sm" />
                                        </div>
                                        <label>Tipo de artículo:</label>
                                        <div class="item-group">
                                            <TelerikTextBox @bind-Value="@(Detalle.CodigoTipoArticulo)" Title="Código" Enabled="@(false)" Size="sm" Width="30px" />
                                            <TelerikTextBox @bind-Value="@(Detalle.NombreTipoArticulo)" Enabled="@(false)" Size="sm" Width="160px" />
                                        </div>
                                        <label>Presentación del artículo:</label>
                                        <div class="item-group">
                                            <TelerikTextBox @bind-Value="@(Detalle.Presentacion)" Title="@(Detalle.Presentacion)" Enabled="@(false)" AutoComplete="off" Size="sm" />
                                        </div>
                                    </Template>
                                </FormItem>
                                <FormItem>
                                    <Template>
                                        <label>Cantidad:</label>
                                        <div class="item-group-adornment">
                                            <TelerikTextBox AutoComplete="off" Enabled="@(false)" @bind-Value="@(Detalle.CodigoUnidadMedida)" Class="adornment" Title="@(Detalle.NombreUnidadMedida)" Size="sm" Width="38px" />
                                            <TelerikNumericTextBox AutoComplete="off" Arrows="@(false)" @bind-Value="@(Detalle.Cantidad)" Enabled="@false" Width="100px" Format="N3" Decimals="3" Size="sm" />
                                        </div>
                                    </Template>
                                </FormItem>
                                <FormItem>
                                    <Template>
                                        <label>Observación:</label>
                                        <TelerikTextBox @bind-Value="@(Detalle.Observacion)" Title="@(Detalle.Observacion)" Enabled="@false" Size="sm" />
                                    </Template>
                                </FormItem>
                            </FormItems>
                            <FormButtons>
                                <TelerikButton Icon="@(SvgIcon.Pencil)" Size="sm" ButtonType="@ButtonType.Button" Class="b-primary" OnClick="@(() => MostrarModificarDetalle())">Ir a modificar</TelerikButton>
                                <TelerikButton Icon="@(SvgIcon.Minus)" Size="sm" ButtonType="@ButtonType.Button" Class="b-delete" OnClick="@(() => MostrarQuitarDetalle(CodigoItemAccion))">Quitar</TelerikButton>
                            </FormButtons>
                        </TelerikForm>
                    }
                    else if (TipoAccionModal is "I" or "M")
                    {
                        <TelerikForm EditContext="@DetalleContext" Size="sm" OnInvalidSubmit="@InvalidarAccionDetalle" OnValidSubmit="@(() => AccionarDetalle(TipoAccionModal))">
                            <FormValidation>
                                <FluentValidationValidator Validator="@(DetalleValidator)" />
                            </FormValidation>
                            <FormItems>
                                <FormItem>
                                    <Template>
                                        @if (TipoAccionModal is "I")
                                        {
                                            <label>Artículo*:</label>
                                            <div class="item-group">
                                                <TelerikTextBox Value="@(DetalleInsertar.CodigoArticulo)" DebounceDelay="@(0)" ValueChanged="@ValueChangeArticuloHandler" ValueExpression="@(() => DetalleInsertar.CodigoArticulo)" OnChange="@OnChangeArticuloHandler" Id="detcodarticulo" AutoComplete="off" Placeholder="Código" MaxLength="15" Size="sm" Width="190px" />
                                                <Empresa.ArticuloCatalogoPorProcesoDocumentoComponent CodigoEmpresa="@Empresa.Codigo" CodigoProcesoDocumento="@CodigoProcesoDocumento" CodigoExcluir="@(DetalleInsertar.CodigoArticulo)" CodigosExceptuar="@(GridDetalles.Select(x => x.CodigoArticulo.TrimEnd()).ToList())" CargarItemSeleccionado="@(CargarItemCatalogoArticuloPorProcesoDocumento)" />
                                                <TelerikTextBox @bind-Value="@(Detalle.NombreArticulo)" Title="@(Detalle.NombreArticulo)" Placeholder="Nombre o Descripción" Enabled="@(false)" Size="sm" />
                                            </div>
                                            <TelerikValidationTooltip For="@(() => DetalleInsertar.CodigoArticulo)" TargetSelector="#detcodarticulo" />
                                        }
                                        else
                                        {
                                            <label>Artículo:</label>
                                            <div class="item-group">
                                                <TelerikTextBox @bind-Value="@(Detalle.CodigoArticulo)" Title="Código" Enabled="@false" Size="sm" Width="190px" />
                                                <TelerikTextBox @bind-Value="@(Detalle.NombreArticulo)" Title="@(Detalle.NombreArticulo)" Enabled="@false" Size="sm" />
                                            </div>
                                        }
                                        <label>Tipo de artículo:</label>
                                        <div class="item-group">
                                            <TelerikTextBox @bind-Value="@(Detalle.CodigoTipoArticulo)" Title="Código" Enabled="@(false)" Size="sm" Width="30px" />
                                            <TelerikTextBox @bind-Value="@(Detalle.NombreTipoArticulo)" Enabled="@(false)" Size="sm" Width="160px" />
                                        </div>
                                        <label>Presentación del artículo:</label>
                                        <div class="item-group">
                                            <TelerikTextBox @bind-Value="@(Detalle.Presentacion)" Title="@(Detalle.Presentacion)" Enabled="@(false)" AutoComplete="off" Size="sm" />
                                        </div>
                                    </Template>
                                </FormItem>
                                <FormItem>
                                    <Template>
                                        <label>Cantidad*:</label>
                                        <div class="item-group-adornment">
                                            <TelerikTextBox @bind-Value="@(Detalle.CodigoUnidadMedida)" AutoComplete="off" Enabled="@(false)" Class="adornment" Title="@(Detalle.NombreUnidadMedida)" Size="sm" Width="38px" />
                                            <TelerikNumericTextBox @bind-Value="@(DetalleInsertar.Cantidad)" OnChange="@OnChangeDetalleCantidadHandler" Id="detcantidad" AutoComplete="off" Arrows="@(false)" Width="100px" Min="0" Format="N3" Decimals="3" Size="sm" />
                                        </div>
                                        <TelerikValidationTooltip For="@(() => DetalleInsertar.Cantidad)" TargetSelector="#detcantidad" />
                                    </Template>
                                </FormItem>
                                <FormItem>
                                    <Template>
                                        <label>Observación:</label>
                                        <TelerikTextBox @bind-Value="@(DetalleInsertar.Observacion)" OnChange="@OnChangeDetalleObservacionHandler" AutoComplete="off" Id="detobservacion" Title="@(DetalleInsertar.Observacion)" MaxLength="100" Size="sm" />
                                        <TelerikValidationTooltip For="@(() => DetalleInsertar.Observacion)" TargetSelector="#detobservacion" />
                                    </Template>
                                </FormItem>
                            </FormItems>
                            <FormButtons>
                                <TelerikButton Icon="@(IconoAccionModal)" Size="sm" ThemeColor="secondary">@VerboAccionModal</TelerikButton>
                            </FormButtons>
                        </TelerikForm>
                    }
                </WindowContent>
            </TelerikWindow>

            <TelerikDialog @bind-Visible="@EsVisibleDialogDetalle" Width="auto" ShowCloseButton="@(false)" CloseOnOverlayClick="@(false)" ThemeColor="dark" FocusedElementSelector=".ok-btn" ButtonsLayout="@(DialogButtonsLayout.Center)">
                <DialogTitle> Quitando ítem del detalle </DialogTitle>
                <DialogContent> ¿Está seguro de quitar el ítem @Detalle.CodigoArticulo? </DialogContent>
                <DialogButtons>
                    <TelerikButton Class="ok-btn" Icon="@(SvgIcon.Check)" ThemeColor="secondary" OnClick="@(() => AccionarDetalle(TipoAccionDialog))" Size="sm">Sí</TelerikButton>
                    <TelerikButton Class="undo-btn" Icon="@(SvgIcon.X)" OnClick="@(() => CerrarDialog())" Size="sm">No</TelerikButton>
                </DialogButtons>
            </TelerikDialog>
        </CardBody>
    </CardContainerComponent>
} 