@page "/{CodigoWebEmpresa}/almacen/movimientos"

@attribute [Authorize]
@using GestionERP.Web.Models.Dtos.Almacen             
@using GestionERP.Web.Models.Dtos.Principal

<PageTitle>@Empresa?.Acronimo - Movimientos - Lista</PageTitle>

<NavigationLock OnBeforeInternalNavigation="@(Cerrar)" ConfirmExternalNavigation="@(IsAuthUser && IsLoadingAction)"/>

<TooltipButtonComponent/>

<CardContainerComponent Titulo="Lista de movimientos en almacén" CodigoServicio="@(codigoServicio)"> 
    <CardBody>

        <TelerikGrid Data="@ListaMovimientos" Pageable="true" PageSize="@(15)" Sortable="true" FilterMode="@GridFilterMode.FilterMenu" FilterMenuType="@FilterMenuType.CheckBoxList" Resizable="true" Size="sm" Height="570px">
            <GridToolBarTemplate> 
                <span>Año:</span>
                <TelerikDropDownList Data="@CatalogoEjercicios" Value="@CodigoEjercicio" ValueChanged="@((string value) => OnComboEjercicioValueChanged(value))" TextField="AnioEjercicio" ValueField="CodigoEjercicio" DefaultText="@(!string.IsNullOrEmpty(CodigoEjercicio) ? "" : " ")" Size="sm" Width="65px" FillMode="solid">
                    <ValueTemplate>
                        <span class="d-item-strong">@((context as EmpresaEjercicioCatalogoDto).AnioEjercicio)</span>
                    </ValueTemplate>
                    <DropDownListSettings> <DropDownListPopupSettings Height="auto"/> </DropDownListSettings>
                </TelerikDropDownList>

                <span>Mes:</span>
                <TelerikDropDownList Data="@CatalogoPeriodos" Value="@CodigoPeriodo" ValueChanged="@((string value) => OnComboPeriodoValueChanged(value))" TextField="NombrePeriodo" ValueField="CodigoPeriodo" DefaultText="@("Todos")" Size="sm" Width="95px">
                    <ValueTemplate>
                        <span class="d-item-strong">@((context as EmpresaPeriodoCatalogoDto).NombrePeriodo)</span>
                    </ValueTemplate>
                    <DropDownListSettings> <DropDownListPopupSettings Height="auto"/> </DropDownListSettings>
                </TelerikDropDownList> 

                <span>Tipo de registro:</span>
                <TelerikDropDownList Data="@TiposRegistro" Value="@FlagTipoRegistro" ValueChanged="@((string value) => OnComboTipoRegistroValueChanged(value))" TextField="Nombre" ValueField="Codigo" DefaultText="Todos" Size="sm" Width="110px">
                    <ValueTemplate>
                        <span class="d-item-strong">@((context as MovimientoFlag).Nombre)</span>
                    </ValueTemplate>
                    <DropDownListSettings> <DropDownListPopupSettings Height="auto" /> </DropDownListSettings>
                </TelerikDropDownList>

                <GridSearchBox Size="md" Width="250px" DebounceDelay="100" Placeholder="Buscar en la lista..." />

                <span class="k-toolbar-spacer"/>

                <TelerikButton Icon="@(SvgIcon.ArrowRotateCwSmall)" ButtonType="@ButtonType.Button" Class="b-secondary grid-toolbar" Id="tbtn" Title="Refrescar la lista de registros" Size="sm" OnClick="@(RefrescarLista)">Refrescar lista</TelerikButton>
                <TelerikButton Icon="@(SvgIcon.FileAdd)" ButtonType="@ButtonType.Button" Id="tbtn" Title="Ir a registrar nuevo movimiento de ingreso" Class="b-primary btn-auth grid-toolbar" Enabled="@EsAsignadoRegistrarIngreso" Size="sm" OnClick="@(IrRegistrarIngreso)">Registrar ingreso</TelerikButton>
                <TelerikButton Icon="@(SvgIcon.FileAdd)" ButtonType="@ButtonType.Button" Id="tbtn" Title="Ir a registrar nuevo movimiento de salida" Class="b-primary btn-auth grid-toolbar" Enabled="@EsAsignadoRegistrarSalida" Size="sm" OnClick="@(IrRegistrarSalida)">Registrar salida</TelerikButton>
                <TelerikButton Icon="@(SvgIcon.FileAdd)" ButtonType="@ButtonType.Button" Id="tbtn" Title="Ir a registrar nuevo movimiento de transferencia" Class="b-primary btn-auth grid-toolbar" Enabled="@EsAsignadoRegistrarTransferencia" Size="sm" OnClick="@(IrRegistrarTransferencia)">Registrar transferencia</TelerikButton>
            </GridToolBarTemplate>
            
            <GridSettings>
                <GridPagerSettings InputType="@(PagerInputType.Input)" PageSizes="@([15, 25, 50, null])" Position="@(PagerPosition.Bottom)" />
            </GridSettings>

            <GridColumns> 
                <GridColumn Field="CodigoPeriodo" Width="50px" Title="Periodo" Filterable="@false" Locked="@(true)" />
                <GridColumn Field="Codigo" Width="100px" Title="Código movimiento" Filterable="@false" Locked="@(true)" />
                <GridColumn Field="NombreOperacionLogistica" Width="250px" Title="Nombre de la operación logística" Filterable="@false" />
                <GridColumn Field="FechaHoraOperacion" Width="120px" Title="Fecha operación" DisplayFormat="{0:dd/MM/yyyy hh:mm:ss tt}" /> 
                <GridColumn Field="FlagTipoRegistro" Width="90px" Title="Origen" Filterable="@false">
                    <Template>
                        <label>@(TiposRegistro.Where(x => x.Codigo == (context as MovimientoListarDto).FlagTipoRegistro).Select(x => x.Nombre).FirstOrDefault())</label>
                    </Template>
                </GridColumn>
                <GridColumn Field="NombreEstado" Width="95px" Title="Estado" /> 
                <GridColumn Field="CodigoEntidad" Width="115px" Title="Código proveedor" Filterable="@false" />
                <GridColumn Field="NombreEntidad" Width="300px" Title="Nombre/razón social del proveedor" Filterable="@false" /> 
                <GridColumn Field="CodigoMoneda" Width="80px" Title="Moneda" />
                <GridColumn Field="TotalValorCosto" Width="135px" Title="Total valor costo" DisplayFormat="{0:N2}" TextAlign="@ColumnTextAlign.Right" HeaderClass="k-justify-content-center" />
                <GridColumn Field="DocumentoReferencia" Width="150px" Title="Documento de referencia" Filterable="@false" />
                <GridColumn Field="NombreLocal" Width="150px" Title="Nombre de local" Filterable="@false" />
                <GridColumn Width="100px" Title="Acciones" Locked="@(true)">
                    <Template>
                        @{
                            MovimientoListarDto item = context as MovimientoListarDto;
                        }
                        <TelerikButton Icon="@(SvgIcon.Eye)" Size="sm" Id="tbtn" Title="Ir a ver registro" Class="b-primary" OnClick="@(() => IrVer(item.Id))" />
                        <TelerikButton Icon="@(SvgIcon.Trash)" Size="sm" Id="tbtn" Title="Eliminar registro" Class="b-delete btn-auth" Enabled="@(EsAsignadoEliminar)" Visible="@(item.CodigoEstado is "AX" or "EX" or "DX" or "CX")" OnClick="@(() => MostrarEliminar(true, item.Id))" />
                    </Template>
                </GridColumn>  
            </GridColumns>

            <NoDataTemplate>
                @if(IsInitGrid)
                {
                    <TelerikSvgIcon Icon="@SvgIcon.SortClear" ThemeColor="dark" Size="sm" /> <span>No hay registros disponibles</span>
                }
            </NoDataTemplate> 
        </TelerikGrid>

        <TelerikDialog @bind-Visible="@EsVisibleDialogEliminar" Width="auto" ShowCloseButton="@(false)" CloseOnOverlayClick="@(false)" ThemeColor="primary" FocusedElementSelector=".ok-btn" ButtonsLayout="@(DialogButtonsLayout.Center)">
            <DialogTitle><TelerikSvgIcon Size="md" Icon="@(SvgIcon.Trash)" />Eliminando movimiento</DialogTitle>
            <DialogContent> ¿Está seguro de eliminar al registro @CodigoRegistro?  </DialogContent>
            <DialogButtons>
                <TelerikButton Class="ok-btn" Icon="@(SvgIcon.Check)" ThemeColor="primary" OnClick="@(Eliminar)" Size="sm" Enabled="@(!IsLoadingAction)">Sí</TelerikButton>
                <TelerikButton Class="undo-btn" Icon="@(SvgIcon.X)" OnClick="@(() => MostrarEliminar(false))" Size="sm" Visible="@(!IsLoadingAction)">No</TelerikButton> 
            </DialogButtons>
        </TelerikDialog>

    </CardBody>
</CardContainerComponent>