@page "/modulos/insertar"

@attribute [Authorize] 

<PageTitle>Módulo - Insertar</PageTitle>

<NavigationLock OnBeforeInternalNavigation="@(Cerrar)" ConfirmExternalNavigation="@(IsAuthUser && IsModified)"/>

<TooltipButtonComponent/>

<CardContainerComponent Titulo="Insertando módulo" CodigoServicio="@(codigoServicio)">
    <TelerikNotification @ref="@Alert" Class="k-alert-notification" VerticalPosition="@(NotificationVerticalPosition.Top)" HorizontalPosition="@(NotificationHorizontalPosition.Center)" />
    <CardBody>
        <TelerikForm EditContext="@EditContext" Size="sm">
            <FormValidation>
                <FluentValidationValidator @ref="validator"/>  
            </FormValidation> 
            <FormItems>
                <FormItem>
                    <Template>
                        <label>Código*:</label> 
                        <TelerikTextBox Width="100px" AutoComplete="off" @bind-Value="@(ModuloInsertar.Codigo)" Size="sm"/>  
                        <TelerikValidationMessage For="@(() => ModuloInsertar.Codigo)" />
                    </Template>
                </FormItem> 
                <FormItem>
                    <Template>
                        <label>Nombre*:</label> 
                        <TelerikTextBox AutoComplete="off" @bind-Value="@(ModuloInsertar.Nombre)" Size="sm"/>  
                        <TelerikValidationMessage For="@(() => ModuloInsertar.Nombre)" />
                    </Template>
                </FormItem> 
                <FormItem>
                    <Template>
                        <label>Descripción:</label> 
                        <TelerikTextBox AutoComplete="off" @bind-Value="@(ModuloInsertar.Descripcion)" Size="sm"/>  
                        <TelerikValidationMessage For="@(() => ModuloInsertar.Descripcion)" />
                    </Template>
                </FormItem>
                <FormItem>
                    <Template>
                        <label>Es Operacional:</label>
                        <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@ModuloInsertar.EsOperacional" Size="sm" TrackRounded="md" ThumbRounded="md"/>
                    </Template>
                </FormItem>
                <FormItem>
                    <Template>
                        <label>Tipo de acceso*:</label>
                        <TelerikDropDownList @bind-Value="@ModuloInsertar.FlagTipoAcceso" TextField="Nombre" ValueField="Codigo" Data="@ModuloTiposAccesos" Size="sm">
                            <DropDownListSettings> <DropDownListPopupSettings Height="auto"/></DropDownListSettings>
                        </TelerikDropDownList>
                        <TelerikValidationMessage For="@(() => ModuloInsertar.FlagTipoAcceso)" />
                    </Template>
                </FormItem>
                 <FormItem>
                     <Template>
                         <label>Código web*:</label>
                         <TelerikTextBox AutoComplete="off" @bind-Value="@(ModuloInsertar.CodigoWeb)" Size="sm" />
                         <TelerikValidationMessage For="@(() => ModuloInsertar.CodigoWeb)" />
                     </Template>
                 </FormItem>
            </FormItems>
            <FormButtons/>
        </TelerikForm>

        <TelerikToolBar Class="toolbar-mainform">
            <ToolBarTemplateItem>
                <TelerikButton Icon="@(SvgIcon.Save)" Id="tbtn" Title="Guardar el registro" ButtonType="@ButtonType.Button" OnClick="@(Insertar)" Size="sm" ThemeColor="primary" Enabled="@(!IsLoadingAction)">Guardar</TelerikButton>
            </ToolBarTemplateItem>
            <ToolBarSeparator />
            <ToolBarTemplateItem>
                <TelerikButton Icon="@(SvgIcon.Undo)" Id="tbtn" Title="Volver a la vista anterior" Size="sm" ButtonType="@ButtonType.Button" Class="b-primary" OnClick="@(Volver)" Enabled="@(!IsLoadingAction)" Visible="@(EsVisibleVolver)">Volver</TelerikButton>
            </ToolBarTemplateItem>
            <ToolBarSpacer />
            <ToolBarTemplateItem>
                <span>* Campos obligatorios</span>
            </ToolBarTemplateItem>
        </TelerikToolBar>

    </CardBody>
</CardContainerComponent>  