@page "/usuarios/{Id:guid}"

@attribute [Authorize]

@using GestionERP.Web.Models.Dtos.Principal 

@implements IDisposable

<PageTitle>Usuario - Ver</PageTitle>

<NavigationLock OnBeforeInternalNavigation="@(Cerrar)" ConfirmExternalNavigation="@(IsAuthUser && IsLoadingAction)" />

<TooltipButtonComponent/>

@if (UsuarioObtener is not null)
{
    <CardContainerComponent Titulo="Visualizando usuario" CodigoRegistro="@(UsuarioObtener.Codigo)" CodigoServicio="@(codigoServicio)">
        <CardBody>
            <TelerikForm Model="@(UsuarioObtener)" Size="sm">
                <FormItems>
                    <FormItem Field="Activo">
                        <Template>
                            <label>Activo:</label>
                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@UsuarioObtener.Activo" Enabled="@false" Size="sm" TrackRounded="md" ThumbRounded="md" />
                        </Template>
                    </FormItem>
                    <FormItem Field="Nombre">
                        <Template>
                            <label>Nombres y apellidos:</label>
                            <TelerikTextBox AutoComplete="off" @bind-Value="@(UsuarioObtener.Nombre)" Enabled="@(false)" Size="sm" />
                        </Template>
                    </FormItem>
                    <FormItem Field="Email">
                        <Template>
                            <label>Correo electrónico:</label>
                            <TelerikTextBox Width="300px" AutoComplete="off" @bind-Value="@(UsuarioObtener.Email)" Enabled="@(false)" Size="sm" />
                            <TelerikValidationMessage For="@(() => UsuarioObtener.Email)" />
                        </Template>
                    </FormItem>
                    <FormItem Field="NickUser">
                        <Template>
                            <label>Siglas del nombre y apellido:</label>
                            <TelerikTextBox Width="50px" AutoComplete="off" @bind-Value="@(UsuarioObtener.NickUser)" Enabled="@(false)" Size="sm" />
                            <TelerikValidationMessage For="@(() => UsuarioObtener.NickUser)" />
                        </Template>
                    </FormItem>
                    <FormItem Field="FlagTipoPerfil">
                        <Template>
                            <label>Tipo de perfil:</label>
                            <TelerikDropDownList Width="200px" @bind-Value="@UsuarioObtener.FlagTipoPerfil" Enabled="@(false)" TextField="Nombre" ValueField="Codigo" Data="@TiposPerfil" Size="sm" />
                        </Template>
                    </FormItem>
                    <FormItem Field="CodigoTipoIdentificacion">
                        <Template>
                            <label>Tipo de identificación:</label>
                            <div class="item-group">
                                <TelerikTextBox AutoComplete="off" Title="Código" Enabled="@(false)" @bind-Value="@(UsuarioObtener.CodigoTipoIdentificacion)" Size="sm" Width="100px" />
                                <TelerikTextBox @bind-Value="@(UsuarioObtener.NombreTipoIdentificacion)" Width="50%" Title="@(UsuarioObtener.NombreTipoIdentificacion)" Enabled="@(false)" Size="sm" />
                            </div>
                        </Template>
                    </FormItem>
                    <FormItem Field="NumeroTipoIdentificacion">
                        <Template>
                            <label>Número del tipo de identificación:</label>
                            <div class="item-group">
                                <TelerikTextBox AutoComplete="off" Title="Sigla del tipo de identificación" Enabled="@(false)" @bind-Value="@(UsuarioObtener.SiglaTipoIdentificacion)" Size="sm" Width="50px" />
                                <TelerikTextBox Width="150px" AutoComplete="off" @bind-Value="@(UsuarioObtener.Codigo)" Enabled="@(false)" Size="sm" />
                            </div>
                        </Template>
                    </FormItem>

                    <FormItem Field="GrdModulos">
                        <Template>
                            <TelerikGrid Height="400px" Data="@(UsuarioObtener.Modulos)" Pageable="false" Sortable="true" Resizable="false" Size="sm">
                                <GridToolBarTemplate>
                                    <GridSearchBox Size="md" Width="200px" DebounceDelay="100" Placeholder="Buscar en la lista..." />
                                </GridToolBarTemplate>
                                <GridColumns>
                                    <GridColumn Field="CodigoModulo" Width="100px" Title="Código" />
                                    <GridColumn Field="NombreModulo" Width="300px" Title="Nombre" />
                                    <GridColumn Field="EsAsignado" Width="70px" Title="Asignado" TextAlign="@ColumnTextAlign.Center" HeaderClass="k-justify-content-center">
                                        <Template>
                                            <TelerikCheckBox @bind-Value="@((context as UsuarioModuloObtenerDto).EsAsignado)" Enabled="@(false)" Size="sm" />
                                        </Template>
                                    </GridColumn>
                                </GridColumns>
                                <NoDataTemplate>
                                    <span>No hay ítems registrados</span>
                                </NoDataTemplate>
                            </TelerikGrid>
                        </Template>
                    </FormItem>
                    <FormItem Field="GrdServicios">
                        <Template>
                            <TelerikGrid Height="400px" Data="@(UsuarioObtener.Servicios.Where(x => x.EsAsignadoModulo))" Groupable="true" OnStateInit="@((GridStateEventArgs<UsuarioServicioObtenerDto> args) => OnStateInitServiciosHandler(args))" Pageable="false" Sortable="true" FilterMode="@GridFilterMode.FilterMenu" FilterMenuType="@FilterMenuType.CheckBoxList" Resizable="false" Size="sm">
                                <GridToolBarTemplate>
                                    <GridSearchBox Size="md" Width="200px" DebounceDelay="100" Placeholder="Buscar en la lista..." />
                                </GridToolBarTemplate>
                                <GridColumns>
                                    <GridColumn Field="CodigoServicio" Width="100px" Title="Código" Groupable="false" Filterable="false" />
                                    <GridColumn Field="NombreServicio" Width="300px" Title="Nombre" Groupable="false" Filterable="false" />
                                    <GridColumn Field="EsAsignado" Width="70px" Title="Asignado" Groupable="false" TextAlign="@ColumnTextAlign.Center" HeaderClass="k-justify-content-center">
                                        <Template>
                                            <TelerikCheckBox @bind-Value="@((context as UsuarioServicioObtenerDto).EsAsignado)" Enabled="@(false)" Size="sm" />
                                        </Template>
                                    </GridColumn>
                                    <GridColumn Field="NombreModulo" Width="200px" Title="Módulo" />
                                </GridColumns>
                                <NoDataTemplate>
                                    <span>No hay ítems registrados</span>
                                </NoDataTemplate>
                            </TelerikGrid>
                        </Template>
                    </FormItem>
                    <FormItem Field="GrdPermisos">
                        <Template>
                            <TelerikGrid Height="400px" Data="@(UsuarioObtener.Permisos.Where(x => x.EsAsignadoServicio))" Groupable="true" OnStateInit="@((GridStateEventArgs<UsuarioPermisoObtenerDto> args) => OnStateInitPermisosHandler(args))" Pageable="false" Sortable="true" FilterMode="@GridFilterMode.FilterMenu" FilterMenuType="@FilterMenuType.CheckBoxList" Resizable="false" Size="sm">
                                <GridToolBarTemplate>
                                    <GridSearchBox Size="md" Width="200px" DebounceDelay="100" Placeholder="Buscar en la lista..." />
                                </GridToolBarTemplate>
                                <GridColumns>
                                    <GridColumn Field="CodigoPermiso" Width="100px" Title="Código" Groupable="false" Filterable="false" />
                                    <GridColumn Field="NombrePermiso" Width="400px" Title="Nombre" Groupable="false" Filterable="false" />
                                    <GridColumn Field="EsAsignado" Width="100px" Title="Asignado" Groupable="false" TextAlign="@ColumnTextAlign.Center" HeaderClass="k-justify-content-center">
                                        <Template>
                                            <TelerikCheckBox @bind-Value="@((context as UsuarioPermisoObtenerDto).EsAsignado)" Enabled="@(false)" Size="sm" />
                                        </Template>
                                    </GridColumn>
                                    <GridColumn Field="NombreServicio" Width="300px" Title="Servicio" />
                                    <GridColumn Field="NombreModulo" Width="200px" Title="Módulo" />
                                </GridColumns>
                                <NoDataTemplate>
                                    <span>No hay ítems registrados</span>
                                </NoDataTemplate>
                            </TelerikGrid>
                        </Template>
                    </FormItem>
                </FormItems>

                 <FormItemsTemplate Context="formContext">
                    @{
                        List<IFormItemBase> formObjects = formContext.Items;
                        List<IFormItem> items = [];           
                        foreach (IFormItemBase itemBase in formObjects)
                        {               
                            items.Add((IFormItem) itemBase);
                        }
                    }
                    <TelerikTabStrip Height="535px">
                        <TabStripTab Title="Datos Principales"> 
                            <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "Activo"))" />
                            <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "Nombre"))" />
                            <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "Email"))" />
                            <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "NickUser"))" />
                            <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "FlagTipoPerfil"))" />
                            <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "CodigoTipoIdentificacion"))" />
                            <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "NumeroTipoIdentificacion"))" />
                        </TabStripTab>
 
                        <TabStripTab Title="Accesos central">
                            <p class="form bwtab">Panel central del sistema</p>
                            <TelerikTabStrip Height="460px" PersistTabContent="@(true)">
                                <TabStripTab Title="Módulos">
                                    <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "GrdModulos"))" />
                                </TabStripTab>
                                <TabStripTab Title="Servicios">
                                    <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "GrdServicios"))" />
                                </TabStripTab>
                                <TabStripTab Title="Permisos">
                                    <TelerikFormItemRenderer Item="@(items.First(x => x.Field == "GrdPermisos"))" />
                                </TabStripTab>
                            </TelerikTabStrip>
                        </TabStripTab>
                    </TelerikTabStrip>
                </FormItemsTemplate>

                <FormButtons/>
            </TelerikForm>

            <TelerikToolBar Class="toolbar-mainform">
                <ToolBarTemplateItem>
                    <TelerikButton Icon="@(SvgIcon.Undo)" Id="tbtn" Title="Volver a la vista del listado" ButtonType="@ButtonType.Button" Size="sm" ThemeColor="primary" OnClick="@(Volver)">Volver</TelerikButton>
                </ToolBarTemplateItem>
                <ToolBarSeparator />
                <ToolBarTemplateItem>
                    <TelerikButton Icon="@(SvgIcon.Pencil)" Id="tbtn" Title="Ir a editar registro" ButtonType="ButtonType.Button" Class="b-primary btn-auth" Enabled="@(EsAsignadoEditar)" Size="sm" OnClick="@(IrEditar)">Editar</TelerikButton>
                </ToolBarTemplateItem>
                <ToolBarTemplateItem>
                    <TelerikButton Icon="@(SvgIcon.Trash)" Id="tbtn" Title="Eliminar registro" ButtonType="ButtonType.Button" Class="b-delete btn-auth" Enabled="@(EsAsignadoEliminar)" Size="sm" OnClick="@(() => EsVisibleDialogEliminar = true)">Eliminar</TelerikButton>
                </ToolBarTemplateItem>
            </TelerikToolBar>

            <TelerikDialog @bind-Visible="@EsVisibleDialogEliminar" Width="auto" ShowCloseButton="@(false)" CloseOnOverlayClick="@(false)" ThemeColor="primary" FocusedElementSelector=".ok-btn" ButtonsLayout="@(DialogButtonsLayout.Center)">
                <DialogTitle><TelerikSvgIcon Size="md" Icon="@(SvgIcon.Trash)" />Eliminando usuario</DialogTitle>
                <DialogContent> ¿Está seguro de eliminar el registro? </DialogContent>
                <DialogButtons>
                    <TelerikButton Class="ok-btn" Icon="@(SvgIcon.Check)" ThemeColor="primary" OnClick="@(Eliminar)" Size="sm" Enabled="@(!IsLoadingAction)">Sí</TelerikButton>
                    <TelerikButton Class="undo-btn" Icon="@(SvgIcon.X)" ButtonType="@ButtonType.Button" OnClick="@(() => { EsVisibleDialogEliminar = false; })" Size="sm" Visible="@(!IsLoadingAction)">No</TelerikButton>
                </DialogButtons>
            </TelerikDialog>

        </CardBody>
    </CardContainerComponent> 
}