@page "/puertos/{Id:guid}"

@attribute [Authorize] 
<PageTitle>Puerto - Ver</PageTitle>

<TooltipButtonComponent/>

@if (PuertoObtener is not null)
{
    <CardContainerComponent Titulo="Visualizando puerto" CodigoRegistro="@(PuertoObtener.Codigo)" CodigoServicio="@(codigoServicio)">
        <CardBody>
            <TelerikForm Model="@PuertoObtener" Size="sm">
                <FormItems>
                    <FormItem>
                        <Template>
                            <label>Activo:</label>
                            <TelerikSwitch OnLabel="Sí" OffLabel="No" @bind-Value="@PuertoObtener.Activo" Enabled="@false" Size="sm" TrackRounded="md" ThumbRounded="md" />
                        </Template>
                    </FormItem>
                    <FormItem>
                        <Template>
                            <label>Nombre:</label>
                            <TelerikTextBox @bind-Value="@(PuertoObtener.Nombre)" Size="sm" Enabled="@false" />
                        </Template>
                    </FormItem>
                    <FormItem>
                        <Template>
                            <label>País:</label>
                            <div class="item-group">
                                <TelerikTextBox Enabled="@(false)" @bind-Value="@(PuertoObtener.CodigoPais)" Size="sm" Width="100px" />
                                <TelerikTextBox @bind-Value="@(PuertoObtener.NombrePais)" Title="@(PuertoObtener.NombrePais)" Enabled="@(false)" Size="sm" />
                            </div>
                        </Template>
                    </FormItem>
                </FormItems>
                <FormButtons/>
            </TelerikForm>

            <TelerikToolBar Class="toolbar-mainform">
                <ToolBarTemplateItem>
                    <TelerikButton Icon="@(SvgIcon.Undo)" Id="tbtn" Title="Volver a la vista del listado" ButtonType="@ButtonType.Button" Size="sm" ThemeColor="primary" OnClick="@(Volver)">Volver</TelerikButton>
                </ToolBarTemplateItem>
            </TelerikToolBar>

        </CardBody>
    </CardContainerComponent>
}